@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

:root {
  font-size: 62.5%;
  /* 設定 1rem: 16px * 62.5% = 10px */
}

body {
  background: #E5E3DD;
}

.lightbox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  align-items: center;
}

.lightbox .lightbox-wrap {
  position: relative;
  width: 600px;
  background-color: #013B4F;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 15px;
}

.lightbox .lightbox-wrap .game-close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.lightbox .lightbox-wrap .game-close img {
  width: 25px;
}

.lightbox .lightbox-wrap h2 {
  color: #B3925B;
  font-size: 35px;
  text-align: center;
  margin: 10px 0 20px 0;
  padding-bottom: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  border-bottom: 1px solid #B3925B;
}

.lightbox .lightbox-wrap p {
  font-size: 24px;
  padding: 0 100px;
  line-height: 1.6;
  color: white;
  letter-spacing: 3px;
}

.lightbox .lightbox-wrap #getcoupon {
  display: none;
}

.lightbox .lightbox-wrap .buttons {
  text-align: center;
  margin: 30px 0 0 0;
}

.lightbox .lightbox-wrap .buttons button {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0 30px;
  border: none;
  background-color: #B3925B;
  color: white;
  font-size: 21px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.lightbox .lightbox-wrap .buttons button a {
  text-decoration: none;
  color: #fff;
}

.lightbox .lightbox-wrap .buttons button:hover {
  background-color: #be8316;
}

.lightbox .lightbox-wrap .buttons button:focus {
  outline: none;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

main .title {
  position: relative;
  width: 100%;
}

main .title h3 {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  letter-spacing: 3px;
  margin-left: 10%;
}

main .title h3 a {
  text-decoration: none;
  font-size: 24px;
  color: #b3925b;
}

main .title h2 {
  text-align: center;
  margin: 50px 0;
  font-size: 35px;
  color: #013B4F;
  font-weight: bold;
  letter-spacing: 1.5rem;
}

main .ga {
  padding: 15px;
  width: 1200px;
  height: 600px;
  background-color: #598328;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#animation_container {
  position: relative;
}

#score {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 3rem;
  color: #a11919;
  z-index: 1;
}

.hp {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1;
  width: 150px;
}

.hp > h2 {
  margin-top: 8px;
  margin-left: 15px;
  color: #771f1f;
  float: left;
  font-size: 2rem;
  font-weight: bold;
}

.hpbox {
  float: right;
  width: 100px;
  height: 20px;
  border: 2px solid #B3925B;
  margin-top: 5px;
}

.hpbar {
  width: 100%;
  height: 100%;
  background-color: red;
}

.playBtn {
  position: absolute;
  color: #920f0f;
  font-size: 4rem;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-weight: bold;
}
/*# sourceMappingURL=game.css.map */