@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

:root {
  font-size: 62.5%;
  /* 設定 1rem: 16px * 62.5% = 10px */
}

.article {
  margin-top: 150px;
}

.article .title_block {
  text-align: center;
}

.article .title_block h2 {
  font-size: 3.5rem;
  letter-spacing: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.article .title_block h5 {
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
  font-family: 'Roboto', sans-serif;
  margin: 20px 0 20px;
}

.article .article_block {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.article .article_block .card_big {
  display: none;
  width: 40%;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: white;
}

.article .article_block .card_big:hover {
  opacity: 0.8;
  transform: translateY(-5px);
  transition: 0.5s ease-in-out;
}

.article .article_block .card_big img {
  max-width: 100%;
}

.article .article_block .card_big .text_block {
  display: flex;
  justify-content: space-around;
  padding: 15px 10px 15px 10px;
}

.article .article_block .card_big .text_block .user_info_block {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.article .article_block .card_big .text_block .user_info_block p.article_time {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  font-family: 'Roboto', sans-serif;
  text-align: right;
}

.article .article_block .card_big .text_block .user_info_block .user_info {
  display: inline-flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.article .article_block .card_big .text_block .user_info_block .user_info .user_status {
  display: inline-flex;
}

.article .article_block .card_big .text_block .user_info_block .user_info .user_status .status_icon {
  display: inline-flex;
  align-items: center;
}

.article .article_block .card_big .text_block .user_info_block .user_info .user_status .status_icon img {
  margin-left: 15px;
}

.article .article_block .card_big .text_block .user_info_block .user_info .user_status .status_icon p.number {
  font-size: 1.4rem;
  letter-spacing: 0.3rem;
  font-family: 'Roboto', sans-serif;
  margin-left: 5px;
}

.article .article_block .card_big .text_block .article_descirption {
  width: 100%;
}

.article .article_block .card_big .text_block .article_descirption h6 {
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  font-family: 'Roboto', sans-serif;
  margin-top: 15px;
  font-weight: bold;
}

.article .article_block .card_big .text_block .article_descirption p {
  font-size: 1.4rem;
  letter-spacing: 0.3rem;
  font-family: 'Roboto', sans-serif;
  margin-top: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.article .article_block .card_big:first-child {
  display: block;
}

.article .article_block .card_big {
  position: relative;
}

.article .article_block .card_big::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
}

.article .article_block .card_big:hover::before {
  animation: shine .75s;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.article .article_block .card_small_block {
  width: 40%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.article .article_block .card_small_block .card_small {
  width: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  background-color: white;
  position: relative;
}

.article .article_block .card_small_block .card_small:hover {
  opacity: 0.8;
  transform: translateY(-5px);
  transition: 0.5s ease-in-out;
}

.article .article_block .card_small_block .card_small::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
}

.article .article_block .card_small_block .card_small:hover::before {
  animation: shine .75s;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

.article .article_block .card_small_block .card_small img {
  max-width: 100%;
}

.article .article_block .card_small_block .card_small .text_block {
  padding: 10px;
}

.article .article_block .card_small_block .card_small .text_block img.user {
  width: 20%;
}

.article .article_block .card_small_block .card_small .text_block .user_info_block {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.article .article_block .card_small_block .card_small .text_block .user_info_block p.article_time {
  display: none;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  font-family: 'Roboto', sans-serif;
  text-align: right;
}

.article .article_block .card_small_block .card_small .text_block .user_info_block .user_info {
  display: inline-flex;
  margin-top: 15px;
}

.article .article_block .card_small_block .card_small .text_block .user_info_block .user_info .user_status {
  display: inline-flex;
}

.article .article_block .card_small_block .card_small .text_block .user_info_block .user_info .user_status .status_icon {
  display: inline-flex;
  align-items: center;
}

.article .article_block .card_small_block .card_small .text_block .user_info_block .user_info .user_status .status_icon img {
  margin-left: 15px;
}

.article .article_block .card_small_block .card_small .text_block .user_info_block .user_info .user_status .status_icon p.number {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  font-family: 'Roboto', sans-serif;
  margin-left: 5px;
}

.article .article_block .card_small_block .card_small .text_block .article_descirption {
  width: 100%;
  text-align: left;
}

.article .article_block .card_small_block .card_small .text_block .article_descirption h6 {
  font-size: 1.4rem;
  letter-spacing: 0.3rem;
  font-family: 'Roboto', sans-serif;
  margin-top: 15px;
  font-weight: bold;
}

.article .article_block .card_small_block .card_small .text_block .article_descirption p {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  font-family: 'Roboto', sans-serif;
  margin-top: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.article .article_block .card_small_block .card_small:nth-child(3) {
  margin-bottom: initial;
}

.article .bottom_block {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px;
}

.article .bottom_block button.seemore {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 5px;
  height: 35px;
  width: 100px;
  text-align: center;
  border: none;
  border-radius: 30px;
  background-size: 300% 100%;
  transition: all .4s ease-in-out;
  width: 180px;
  height: 40px;
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
}

.article .bottom_block button.seemore:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
  transform: translateY(-5px);
}

.article .bottom_block button.seemore:focus {
  outline: none;
}

.article .bottom_block button.seemore.color-2 {
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

@media (min-width: 992px) and (max-width: 1199px) {
  .article .article_block .card_big {
    display: block;
    margin-right: 20px;
  }
  .article .article_block .card_big:nth-child(3) {
    margin-right: 0px;
  }
  .article .article_block .card_small_block {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .article .article_block {
    flex-direction: column;
    align-items: center;
  }
  .article .article_block .card_big {
    width: 60%;
    display: block;
    margin-bottom: 30px;
  }
  .article .article_block .card_big .text_block img {
    width: 26%;
    margin-right: 10px;
  }
  .article .article_block .card_big .text_block .user_info_block p.article_time {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
  }
  .article .article_block .card_big .text_block .user_info_block .user_info .user_status .status_icon p.number {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-family: 'Roboto', sans-serif;
  }
  .article .article_block .card_big .text_block .article_descirption {
    width: 100%;
  }
  .article .article_block .card_big .text_block .article_descirption h6 {
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
  }
  .article .article_block .card_big .text_block .article_descirption p {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-family: 'Roboto', sans-serif;
  }
  .article .article_block .card_small_block {
    display: none;
  }
}

@media (max-width: 575px) {
  .article .title_block h2 {
    font-size: 2.4rem;
    letter-spacing: 1rem;
    font-family: 'Roboto', sans-serif;
  }
  .article .title_block h5 {
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
  }
  .article .article_block {
    flex-direction: column;
    align-items: center;
  }
  .article .article_block .card_big {
    width: 80%;
    display: block;
    margin-bottom: 30px;
  }
  .article .article_block .card_big .text_block {
    flex-direction: column;
    align-items: center;
  }
  .article .article_block .card_big .text_block img {
    width: 26%;
    margin-right: 10px;
  }
  .article .article_block .card_big .text_block .user_info_block p.article_time {
    display: none;
  }
  .article .article_block .card_big .text_block .user_info_block .user_info .user_status .status_icon p.number {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-family: 'Roboto', sans-serif;
  }
  .article .article_block .card_big .text_block .article_descirption {
    width: 100%;
    text-align: center;
  }
  .article .article_block .card_big .text_block .article_descirption h6 {
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
  }
  .article .article_block .card_big .text_block .article_descirption p {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-family: 'Roboto', sans-serif;
  }
  .article .article_block .card_small_block {
    display: none;
  }
}
/*# sourceMappingURL=index_atricle.css.map */