@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

:root {
  font-size: 62.5%;
  /* 設定 1rem: 16px * 62.5% = 10px */
}

body {
  background-color: #E5E3DD;
  position: relative;
}

#order_list .group_order_done_person:first-child {
  border-top: 0px solid #c0bfbf;
}

#order_list .group_order_done_person:last-child {
  border-bottom: 0px;
}

.w-338 {
  width: 90%;
  margin: 0 auto;
}

.fist_QR {
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
  background-color: rgba(85, 85, 85, 0.521);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fist_QR .fist_QR_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #050505;
  padding: 25px;
  width: 270px;
  height: 350px;
  text-align: center;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  position: relative;
  z-index: 999;
  box-shadow: 8px 10px 15px -1px #242424;
}

.fist_QR .fist_QR_box h2 {
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.fist_QR .fist_QR_box :nth-child(4) {
  font-size: 16px;
  letter-spacing: 3px;
  text-indent: 3px;
}

.fist_QR .fist_QR_box .close_btn {
  width: 15px;
  position: absolute;
  color: #013B4F;
  cursor: pointer;
  right: 10px;
  top: 10px;
}

.fist_QR .fist_QR_box .fist_QR_main {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 140px;
  height: 140px;
  background-color: burlywood;
}

.fist_QR .fist_QR_box .fist_QR_main h2 {
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
  font-family: 'Roboto', sans-serif;
}

.fist_QR .fist_QR_box .QR_link {
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  display: flex;
  height: 17px;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.fist_QR .fist_QR_box .QR_link input {
  border-radius: 10px;
}

.group_data {
  min-height: 100px;
}

.group_data .group_data_row {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 55px;
  position: relative;
}

.group_data .group_data_row .QR_box {
  float: right;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.group_data .group_data_row .QR_box .QR_main {
  width: 140px;
  height: 140px;
  background-color: blanchedalmond;
  margin-bottom: 10px;
}

.group_data .group_data_row .QR_box h2 {
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 10px 0;
}

.group_data .group_data_row .QR_box .QR_link {
  cursor: pointer;
  position: relative;
  display: flex;
  height: 17px;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.group_data .group_data_row .QR_box .QR_link input {
  border-radius: 15%;
}

.group_data .group_data_row ul li {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  margin-bottom: 15px;
}

.group_data .group_data_row ul li:last-child {
  margin-bottom: 0;
}

.group_data .group_data_row ul li :nth-child(odd) {
  color: #013B4F;
  font-weight: bold;
  width: 40%;
}

.group_data .group_data_row ul li :nth-child(2n) {
  width: 60%;
}

.group_data .group_data_row ul li div {
  font-size: 1.4rem;
  letter-spacing: 0.3rem;
  font-family: 'Roboto', sans-serif;
  color: #707070;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.group_data .group_data_row ul li:last-child div {
  margin-bottom: 0;
}

.group_data .line {
  border: 1px solid #013B4F;
  opacity: 0.7;
}

.group_data .Head_data {
  box-sizing: border-box;
}

.group_data .Head_data .group_button {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.group_data .Head_data .group_button .btn_back_drink,
.group_data .Head_data .group_button .btn_f5,
.group_data .Head_data .group_button .btn_cleckout {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 5px;
  letter-spacing: 5px;
  border-radius: 10px;
  background-color: #B3925B;
  border: 0;
  color: #fff;
  cursor: pointer;
  text-indent: 10px;
  letter-spacing: 3px;
  text-indent: 3px;
}

@media screen and (min-width: 577px) {
  .group_data .group_data_row > ul {
    margin: auto;
  }
  .group_data .group_data_row ul {
    width: 80%;
  }
  .group_data .group_data_row ul li {
    margin-bottom: 35px;
  }
  .group_data .group_data_row ul li div {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
  }
}

@media screen and (min-width: 767px) {
  .group_data .group_data_row {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 40px;
  }
  .group_data .group_data_row .QR_box {
    width: 30%;
  }
  .group_data .group_data_row ul {
    width: 70%;
    padding: 0;
  }
  .group_data .group_data_row ul li {
    justify-content: flex-start;
  }
  .group_data .group_data_row ul li div {
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .group_data .group_data_row ul li input,
  .group_data .group_data_row ul li select {
    width: 200px;
    height: 30px;
    font-size: 24px;
    letter-spacing: 0;
  }
}

@media screen and (min-width: 991px) {
  .group_data .group_data_row ul li {
    justify-content: flex-start;
  }
  .group_data .group_data_row ul li :nth-child(2n) {
    width: 100%;
  }
  .group_data .group_data_row ul li :first-child {
    width: 300px;
  }
  .group_data .group_data_row ul li div {
    letter-spacing: 3px;
    width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .group_data .group_data_row ul li input,
  .group_data .group_data_row ul li select {
    width: 300px;
    height: 40px;
  }
}

@media screen and (min-width: 1199px) {
  .w-338 {
    max-width: 1200px;
    margin: 0 auto;
  }
  .fist_QR .fist_QR_box {
    width: 480px;
    height: 400px;
  }
  .fist_QR .fist_QR_box .fist_QR_main {
    width: 200px;
    height: 200px;
  }
  .fist_QR .fist_QR_box :nth-child(4) {
    font-size: 2.1rem;
    letter-spacing: 0.8rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 8px;
    text-indent: 8px;
    margin-bottom: 30px;
  }
  .fist_QR .fist_QR_box .close_btn {
    width: 30px;
  }
  .fist_QR .fist_QR_box .fist_QR_link {
    width: 280px;
  }
  .fist_QR .fist_QR_box .QR_link {
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    align-items: center;
  }
  .fist_QR .fist_QR_box .QR_link .QR_link_text {
    height: 30px;
    display: flex;
    align-items: center;
  }
  .fist_QR .fist_QR_box .QR_link .QR_copy {
    height: 30px;
    border-radius: 0% 30% 30% 0%/50%;
  }
  .group_data .group_data_row .QR_box {
    width: 30%;
  }
  .group_data .group_data_row .QR_box .QR_main {
    width: 200px;
    height: 200px;
  }
  .group_data .group_data_row ul {
    width: 70%;
  }
  .group_data .group_data_row ul li {
    justify-content: flex-start;
  }
  .group_data .group_data_row ul li div {
    font-size: 2.1rem;
    letter-spacing: 0.8rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    color: #013B4F;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .group_data .Head_data .group_button {
    justify-content: space-evenly;
    width: 60%;
    margin: 0 auto;
  }
  .group_data .Head_data .group_button .btn_back_drink,
  .group_data .Head_data .group_button .btn_f5,
  .group_data .Head_data .group_button .btn_cleckout {
    background-color: #B3925B;
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    border: none;
  }
  .group_data .Head_data .group_button .btn_back_drink:hover,
  .group_data .Head_data .group_button .btn_f5:hover,
  .group_data .Head_data .group_button .btn_cleckout:hover {
    opacity: 0.7;
    transition: 0.2s ease-in-out;
  }
  .group_data .Head_data .group_button .btn_back_drink img,
  .group_data .Head_data .group_button .btn_f5 img,
  .group_data .Head_data .group_button .btn_cleckout img {
    margin-right: 10px;
  }
}

@media screen and (min-width: 991px) {
  .step_box .step_text {
    font-size: 1.4rem;
    letter-spacing: 2px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .step_box .step_text {
    font-size: 1.2rem;
    letter-spacing: 0;
  }
}

.fist_QR .fist_QR_box :nth-child(4) {
  margin-bottom: 10px;
}

.step_box {
  width: 80%;
  height: 135px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 30px;
}

.step_box .step_ball {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.step_box .step_ball > li {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background-color: #EFE7DA;
  position: relative;
}

.step_box .step_ball > li img {
  position: absolute;
  transform: translate(50%, -50%);
  top: 50%;
  right: 50%;
}

.step_box .step_ball > li h5 {
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
  font-family: 'Roboto', sans-serif;
  color: #B3925B;
  letter-spacing: 0px;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 120%;
}

.step_box .step_ball > li:first-child {
  background-color: #B3925B;
}

.step_box .step_ball > li::before {
  content: "";
  position: absolute;
  width: 345%;
  height: 5px;
  background-color: #EFE7DA;
  left: 50px;
  top: 50%;
  z-index: -1;
}

.step_box .step_ball > li:last-child::before {
  display: none;
}

.step_box .step_ball li:first-child {
  font-weight: bold;
}

.step_ball > li:nth-child(2) {
  background-color: #B3925B;
}

.step_ball > li:nth-child(1)::before {
  background-color: #B3925B;
}

.step_box .step_ball li:nth-child(2) {
  font-weight: bold;
}

@media (min-width: 576px) and (max-width: 991px) {
  .step_box {
    height: 115px;
  }
  .step_box .step_ball > li {
    width: 80px;
    height: 80px;
  }
  .step_box .step_ball > li > h5 {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
  }
}

@media (max-width: 575px) {
  .step_box {
    height: 90px;
  }
  .step_box .step_ball > li {
    width: 60px;
    height: 60px;
  }
  .step_box .step_ball > li > h5 {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
  }
  .step_box .step_ball > li > img {
    width: 40%;
  }
}
/*# sourceMappingURL=join_step2.css.map */