@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

:root {
  font-size: 62.5%;
  /* 設定 1rem: 16px * 62.5% = 10px */
}

body {
  background-color: #E5E3DD;
}

h3 {
  color: #013B4F;
  font-size: 24px;
}

h2 {
  color: #013B4F;
  font-size: 35px;
  font-weight: bold;
}

h4 {
  color: #707070;
  font-size: 21px;
}

h5 {
  font-size: 18px;
  color: #013B4F;
  font-weight: bold;
}

input {
  padding: 0;
}

.main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.info {
  width: 100%;
  display: flex;
  font-size: 2.4rem;
  letter-spacing: 1rem;
  font-family: 'Roboto', sans-serif;
  margin: 55px auto;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.info div {
  align-self: center;
}

.info input {
  width: 300px;
  height: 40px;
  padding: 0;
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: none;
  box-shadow: 2px 2px 2px 2px rgba(51, 51, 102, 0.2);
}

.info_name {
  margin-bottom: 20px;
}

.info_phone, .info_phone_top, .info_msg, .info_msg_top {
  display: flex;
}

.info_img {
  max-width: 120px;
  overflow: hidden;
  margin-right: 50px;
}

.info_detail {
  width: 60%;
  color: #707070;
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.info_detail div {
  margin-top: 5px;
}

.info_phone_top, .info_msg_top {
  width: 40%;
}

.info_phone_top div:first-child, .info_msg_top div:first-child {
  margin-right: 20px;
}

.info_phone_bottom, .info_msg_bottom {
  width: 60%;
}

@media screen and (max-width: 756px) {
  .info {
    display: block;
    margin-top: 0;
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
  }
  .info_img {
    width: 30%;
    max-width: 120px;
    margin: 0 auto;
  }
  .info_name {
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
  }
  .info_detail {
    width: 80%;
    margin: 0 auto;
  }
  .info_phone_bottom input, .info_msg_bottom input {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .info {
    display: block;
    margin-top: 0;
  }
  .info_detail {
    width: 90%;
    margin: 0 auto;
  }
  .info_phone_bottom input, .info_msg_bottom input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 325px) {
  .info {
    display: block;
    margin-top: 0;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-family: 'Roboto', sans-serif;
  }
  .info_detail {
    width: 90%;
    margin: 0 auto;
  }
  .info_phone_bottom input, .info_msg_bottom input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
  }
}

.discount {
  margin: 80px auto;
  width: 90%;
  font-size: 2.1rem;
  letter-spacing: 0.8rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  color: #013B4F;
}

.discountTop {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.discountNo {
  width: 50%;
  display: flex;
  align-items: center;
}

.discountNo h3 {
  color: #707070;
}

.discountNo select {
  width: 50%;
  height: 50px;
  border: 1px solid #707070;
  border-radius: 10px;
  font-size: 2.1rem;
  letter-spacing: 0.8rem;
  font-family: 'Roboto', sans-serif;
  color: #707070;
  padding-left: 20px;
  margin-left: 80px;
}

.gamelink {
  width: 20%;
  height: 50px;
  overflow: hidden;
  text-align: right;
}

.discountBottom {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.discountBottom h3 {
  font-size: 2.4rem;
  letter-spacing: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #707070;
}

.disTotal h3 {
  font-size: 2.4rem;
  letter-spacing: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.card {
  width: 100%;
  font-size: 2.4rem;
  letter-spacing: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #707070;
}

.cardimg {
  text-align: center;
  margin: 70px 0 30px;
}

.cardinfo {
  font-size: 2.1rem;
  letter-spacing: 0.8rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  color: #013B4F;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 70px;
}

.cardinfo div {
  display: flex;
}

.cardinfo input {
  width: 300px;
  height: 40px;
  padding: 0;
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: none;
  box-shadow: 2px 2px 2px 2px rgba(51, 51, 102, 0.2);
}

.cardname, .cardno, .exp, .safeno {
  width: 80%;
  margin: 20px auto;
}

.cardname, .cardno, .exp, .safeno {
  align-self: center;
}

.cardname div:first-child, .cardno div:first-child, .exp div:first-child, .safeno div:first-child {
  width: 30%;
}

.cardname div:last-child, .cardno div:last-child, .exp div:last-child, .safeno div:last-child {
  width: 60%;
}

.cardname div:last-child input, .cardno div:last-child input, .exp div:last-child input, .safeno div:last-child input {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.exp_bottom {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .card {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
  }
  .cardinfo {
    width: 100%;
  }
  .cardname div:last-child, .cardno div:last-child, .exp div:last-child, .safeno div:last-child {
    width: 70%;
  }
}

@media screen and (max-width: 376px) {
  .card {
    font-size: 14px;
  }
  .cardinfo {
    width: 100%;
  }
  .cardinfo input {
    height: 30px;
    border-radius: 5px;
  }
  .cardname div:last-child, .cardno div:last-child, .exp div:last-child, .safeno div:last-child {
    width: 70%;
  }
}

.ListTotal {
  width: 70%;
  margin: 70px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ListTotal h2 {
  font-size: 2.4rem;
  letter-spacing: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

#line {
  width: 60%;
}

#line hr {
  border-style: none;
  border-bottom: 1px dashed #013B4F;
}

@media screen and (max-width: 325px) {
  .discountTop {
    display: block;
  }
  .discountNo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .discountNo select {
    width: 60%;
    height: 30px;
    border-radius: 5px;
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    margin-left: 0px;
  }
  .discountNo h3, .discountBottom h3, .cardInfo h3 {
    font-size: 14px;
  }
  .gamelink {
    width: 40%;
  }
  .cardInfo input {
    height: 30px;
    border-radius: 5px;
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
  }
  .cardInfo div {
    margin-bottom: 10px;
  }
  #cardName label {
    margin-right: 30px;
  }
  #cardName input {
    width: 60%;
  }
  #cardNo label {
    margin-right: 73px;
  }
  #cardNo input {
    width: 15%;
    margin-right: 5px;
  }
  #cardExp label {
    margin-right: 43px;
  }
  #cardExp input {
    width: 15%;
  }
  #cardExp span {
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
    margin: 0px 3px;
  }
  #cardSafeNo {
    margin-bottom: 50px;
  }
  #cardSafeNo label {
    margin-right: 57px;
  }
  #cardSafeNo input {
    width: 15%;
    margin-right: 20px;
  }
  .ListTotal {
    width: 80%;
    margin: 50px auto;
  }
  .ListTotal h2 {
    font-size: 16px;
  }
  #line {
    width: 40%;
  }
}

@media screen and (min-width: 326px) and (max-width: 575px) {
  .InfoDetail {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .memImage, .name {
    display: none;
  }
  .rwdInfoDetail {
    width: 50%;
    margin: 50px auto;
    text-align: center;
  }
  .rwdmemImage {
    width: 37%;
    overflow: hidden;
    margin: 20px auto;
  }
  .rwdorderInfo {
    width: 100%;
  }
  #memName {
    font-size: 2.1rem;
    letter-spacing: 0.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  .orderInfo {
    width: 100%;
  }
  .orderInfo div h3 {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
  }
  .orderInfo div h3 img {
    width: 4%;
  }
  .orderInfo input {
    width: 300px;
    height: 40px;
    padding: 0;
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 2px 2px rgba(51, 51, 102, 0.2);
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
    height: 30px;
    border-radius: 5px;
  }
  #memPhone, #msg {
    width: 55%;
    margin: 0px 10px;
    letter-spacing: 0;
  }
  #memPhone {
    margin-left: 23px;
  }
  .discountTop {
    display: block;
  }
  .discountNo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .discountNo select {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    margin-left: 0px;
  }
  .discountNo h3, .discountBottom h3, .cardInfo h3 {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
  }
  .cardInfo input {
    height: 30px;
    border-radius: 5px;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
  }
  .cardInfo div {
    margin-bottom: 10px;
  }
  #cardName label {
    margin-right: 40px;
  }
  #cardName input {
    width: 70%;
  }
  #cardNo label {
    margin-right: 97px;
  }
  #cardNo input {
    width: 16%;
    margin-right: 11px;
  }
  #cardExp label {
    margin-right: 59px;
  }
  #cardExp input {
    width: 15%;
  }
  #cardExp span {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
    margin: 0px 3px;
  }
  #cardSafeNo {
    margin-bottom: 50px;
  }
  #cardSafeNo label {
    margin-right: 77px;
  }
  #cardSafeNo input {
    width: 15%;
    margin-right: 20px;
  }
  .ListTotal {
    width: 80%;
    margin: 50px auto;
  }
  .ListTotal h2 {
    font-size: 18px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .InfoDetail {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .memImage, .name {
    display: none;
  }
  .rwdInfoDetail {
    width: 50%;
    margin: 50px auto;
    text-align: center;
  }
  .rwdmemImage {
    width: 37%;
    overflow: hidden;
    margin: 20px auto;
  }
  .rwdorderInfo {
    width: 100%;
  }
  #memName {
    font-size: 2.4rem;
    letter-spacing: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  .orderInfo {
    width: 100%;
  }
  .orderInfo div h3 {
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
    font-family: 'Roboto', sans-serif;
  }
  .orderInfo div h3 img {
    width: 4%;
  }
  .orderInfo input {
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
    font-family: 'Roboto', sans-serif;
    height: 30px;
    border-radius: 5px;
  }
  #memPhone, #msg {
    margin: 0px 10px;
    letter-spacing: 0;
  }
  #memPhone {
    margin-left: 30px;
  }
  .discountTop {
    display: block;
  }
  .discountNo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .discountNo select {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    margin-left: 0px;
  }
  .discountNo h3, .discountBottom h3, .cardInfo h3 {
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
    font-family: 'Roboto', sans-serif;
  }
  .cardInfo input {
    height: 30px;
    border-radius: 5px;
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
    font-family: 'Roboto', sans-serif;
  }
  .cardInfo div {
    margin-bottom: 10px;
  }
  #cardName label {
    margin-right: 40px;
  }
  #cardName input {
    width: 70%;
  }
  #cardNo label {
    margin-right: 107px;
  }
  #cardNo input {
    width: 300px;
    height: 40px;
    padding: 0;
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 2px 2px rgba(51, 51, 102, 0.2);
  }
  #cardExp label {
    margin-right: 59px;
  }
  #cardExp input {
    width: 15%;
  }
  #cardExp span {
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
    font-family: 'Roboto', sans-serif;
    margin: 0px 3px;
  }
  #cardSafeNo {
    margin-bottom: 50px;
  }
  #cardSafeNo label {
    margin-right: 82px;
  }
  #cardSafeNo input {
    width: 15%;
    margin-right: 20px;
  }
  .ListTotal {
    width: 80%;
    margin: 50px auto;
  }
  .ListTotal h2 {
    font-size: 2.1rem;
    letter-spacing: 0.8rem;
    font-family: 'Roboto', sans-serif;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .InfoDetail {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .memImage, .name {
    display: none;
  }
  .rwdInfoDetail {
    width: 50%;
    margin: 50px auto;
    text-align: center;
  }
  .rwdmemImage {
    width: 37%;
    overflow: hidden;
    margin: 20px auto;
  }
  .rwdorderInfo {
    width: 100%;
  }
  #memName {
    font-size: 2.4rem;
    letter-spacing: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  .orderInfo {
    width: 100%;
  }
  .orderInfo div h3 {
    font-size: 2.1rem;
    letter-spacing: 0.8rem;
    font-family: 'Roboto', sans-serif;
  }
  .orderInfo div h3 img {
    width: 4%;
  }
  .orderInfo input {
    font-size: 2.1rem;
    letter-spacing: 0.8rem;
    font-family: 'Roboto', sans-serif;
    height: 30px;
    border-radius: 5px;
  }
  #memPhone, #msg {
    margin: 0px 10px;
    letter-spacing: 0;
  }
  #memPhone {
    margin-left: 25px;
  }
  .discountTop {
    display: block;
  }
  .discountNo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .discountNo select {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    font-size: 2.1rem;
    letter-spacing: 0.8rem;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    margin-left: 0px;
  }
  .discountNo h3, .discountBottom h3, .cardInfo h3 {
    font-size: 2.1rem;
    letter-spacing: 0.8rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    color: #013B4F;
  }
  .cardInfo input {
    height: 40px;
    border-radius: 5px;
    font-size: 2.1rem;
    letter-spacing: 0.8rem;
    font-family: 'Roboto', sans-serif;
  }
  .cardInfo div {
    margin-bottom: 10px;
  }
  #cardName label {
    margin-right: 40px;
  }
  #cardName input {
    width: 70%;
  }
  #cardNo label {
    margin-right: 127px;
  }
  #cardNo input {
    width: 16%;
    margin-right: 17px;
  }
  #cardExp label {
    margin-right: 68px;
  }
  #cardExp input {
    width: 15%;
  }
  #cardExp span {
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
    font-family: 'Roboto', sans-serif;
    margin: 0px 3px;
  }
  #cardSafeNo {
    margin-bottom: 50px;
  }
  #cardSafeNo label {
    margin-right: 96px;
  }
  #cardSafeNo input {
    width: 15%;
    margin-right: 20px;
  }
  .ListTotal {
    width: 80%;
    margin: 50px auto;
  }
  .ListTotal h2 {
    font-size: 2.4rem;
    letter-spacing: 1rem;
    font-family: 'Roboto', sans-serif;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .InfoDetail {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .memImage, .name {
    display: none;
  }
  .rwdInfoDetail {
    width: 80%;
    margin: 50px auto;
    text-align: center;
  }
  .rwdmemImage {
    width: 37%;
    overflow: hidden;
    margin: 20px auto;
  }
  .rwdorderInfo {
    width: 100%;
  }
  #memName {
    font-size: 2.4rem;
    letter-spacing: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  .orderInfo {
    width: 100%;
  }
  #memPhone, #msg {
    margin: 0px 10px;
    letter-spacing: 0;
  }
  #memPhone {
    margin-left: 45px;
  }
}

@media screen and (min-width: 1200px) {
  .rwdInfoDetail {
    display: none;
  }
}

@media screen and (max-width: 756px) {
  .info_detail {
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
  }
}

@media screen and (max-width: 575px) and (min-width: 326px) {
  .discountNo h3, .discountBottom h3, .cardInfo h3 {
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
  }
}

@media screen and (max-width: 575px) and (min-width: 326px) {
  .discountNo {
    justify-content: space-around;
  }
  .discountNo select {
    width: 60%;
  }
  .info_phone_bottom, .info_msg_bottom {
    width: 45%;
  }
  .cardinfo input {
    height: 25px;
  }
}

@media (min-width: 326px) {
  .cardinfo div {
    display: flex;
    align-items: center;
  }
  .cardinfo {
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
  }
}

@media screen and (max-width: 575px) and (min-width: 326px) {
  .gamelink {
    width: 40%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 756px) {
  .info_img {
    width: 20%;
    max-width: 120px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 575px) and (min-width: 326px) {
  .ListTotal h2 {
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
  }
}

.step_box {
  width: 80%;
  height: 135px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 30px;
}

.step_box .step_ball {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.step_box .step_ball > li {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background-color: #EFE7DA;
  position: relative;
}

.step_box .step_ball > li img {
  position: absolute;
  transform: translate(50%, -50%);
  top: 50%;
  right: 50%;
}

.step_box .step_ball > li h5 {
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
  font-family: 'Roboto', sans-serif;
  color: #B3925B;
  letter-spacing: 0px;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 120%;
}

.step_box .step_ball > li:first-child {
  background-color: #B3925B;
}

.step_box .step_ball > li::before {
  content: "";
  position: absolute;
  width: 345%;
  height: 5px;
  background-color: #EFE7DA;
  left: 50px;
  top: 50%;
  z-index: -1;
}

.step_box .step_ball > li:last-child::before {
  display: none;
}

.step_box .step_ball li:first-child {
  font-weight: bold;
}

.step_ball > li:nth-child(2) {
  background-color: #B3925B;
}

.step_ball > li:nth-child(1)::before {
  background-color: #B3925B;
}

.step_box .step_ball li:nth-child(2) {
  font-weight: bold;
}

.step_ball > li:nth-child(2), .step_ball > li:nth-child(3) {
  background-color: #B3925B;
}

.step_ball > li:nth-child(1)::before, .step_ball > li:nth-child(2)::before {
  background-color: #B3925B;
}

.step_box .step_ball li:nth-child(3) {
  font-weight: bold;
}

@media (min-width: 576px) and (max-width: 991px) {
  .step_box {
    height: 115px;
  }
  .step_box .step_ball > li {
    width: 80px;
    height: 80px;
  }
  .step_box .step_ball > li > h5 {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
  }
}

@media (max-width: 575px) {
  .step_box {
    height: 90px;
  }
  .step_box .step_ball > li {
    width: 60px;
    height: 60px;
  }
  .step_box .step_ball > li > h5 {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
  }
  .step_box .step_ball > li > img {
    width: 40%;
  }
}
/*# sourceMappingURL=join_step3A.css.map */