@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

:root {
  font-size: 62.5%;
  /* 設定 1rem: 16px * 62.5% = 10px */
}

body {
  background-color: #E5E3DD;
}

h3 {
  color: #013B4F;
  font-size: 24px;
}

h2 {
  color: #013B4F;
  font-size: 35px;
  font-weight: bold;
}

h4 {
  color: #707070;
  font-size: 21px;
}

h5 {
  font-size: 18px;
  color: #013B4F;
  font-weight: bold;
}

input {
  padding: 0;
}

.main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.step_box {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.step_box .step_ball {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.step_box .step_ball li {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #D3C8B5;
  margin-bottom: 15px;
  position: relative;
}

.step_box .step_ball li::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 14px;
  background-color: #D3C8B5;
  left: 50px;
  top: 50%;
  z-index: -1;
}

.step_box .step_ball li:last-child::before {
  display: none;
}

.step_box .step_ball .on {
  background-color: #B3925B;
}

.step_box .step_text {
  display: flex;
  justify-content: space-between;
  color: #013B4F;
  font-size: 24px;
}

.step_box .step_text .on {
  font-weight: bold;
}

.Info {
  width: 90%;
  margin: 100px auto;
}

.Info h3 {
  color: #707070;
}

.InfoDetail {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 80px auto;
}

.memImage {
  width: 25%;
  height: 170px;
  overflow: hidden;
}

#memName {
  color: #013B4F;
  font-size: 24px;
  font-weight: bold;
}

.orderInfo {
  width: 70%;
}

.orderInfo div {
  margin-bottom: 40px;
}

.orderInfo div h3 {
  font-size: 2.4rem;
  letter-spacing: 1rem;
  font-family: 'Roboto', sans-serif;
}

.orderInfo input {
  height: 50px;
  border-radius: 10px;
  border: 1px solid #707070;
  font-size: 2.4rem;
  letter-spacing: 1rem;
  font-family: 'Roboto', sans-serif;
}

.orderInfo label {
  margin-left: 10px;
  color: #707070;
}

#memPhone, #msg {
  width: 60%;
}

#memPhone {
  margin-left: 55px;
}

#msg {
  margin-left: 36px;
}

.discount {
  margin: 80px auto;
  width: 90%;
}

.discount h3 {
  font-size: 2.4rem;
  letter-spacing: 1rem;
  font-family: 'Roboto', sans-serif;
}

.discountTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.discountNo {
  width: 70%;
  display: flex;
  align-items: center;
}

.discountNo h3 {
  color: #707070;
}

.discountNo select {
  width: 60%;
  height: 50px;
  border: 1px solid #707070;
  border-radius: 10px;
  font-size: 2.4rem;
  letter-spacing: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #707070;
  padding-left: 20px;
  margin-left: 100px;
}

.gamelink {
  width: 30%;
  height: 50px;
  overflow: hidden;
  text-align: right;
}

.discountBottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.discountBottom h3 {
  color: #707070;
}

.disTotal h3 {
  font-weight: bold;
  font-size: 24px;
}

.payInfo {
  margin: 60px auto;
  text-align: center;
  width: 50%;
}

.payInfo:hover {
  cursor: pointer;
}

.cardInfo {
  display: none;
  width: 90%;
  margin: 0 auto;
}

.cardInfo input {
  height: 50px;
  border: 1px solid #707070;
  border-radius: 10px;
  font-size: 24px;
}

.cardInfo div {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.cardInfo h3 {
  color: #707070;
  font-size: 24px;
}

.cardInfo.-on {
  display: block;
}

#cardName label {
  margin-right: 92px;
}

#cardName input {
  width: 30%;
}

#cardNo label {
  margin-right: 164px;
}

#cardNo input {
  width: 12%;
  margin-right: 22px;
}

#cardNo input:last-child {
  margin-right: 0;
}

#cardExp label {
  margin-right: 116px;
}

#cardExp input {
  width: 10%;
}

#cardExp span {
  font-size: 24px;
  color: #707070;
  margin: 0px 8px;
}

#cardSafeNo {
  margin-bottom: 50px;
}

#cardSafeNo label {
  margin-right: 140px;
}

#cardSafeNo input {
  width: 10%;
  margin-right: 20px;
}

.ListTotal {
  width: 80%;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ListTotal h2 {
  font-size: 35px;
}

#line {
  width: 70%;
}

#line hr {
  border-style: none;
  border-bottom: 1px dashed #013B4F;
}

.orderbtn {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 50px auto;
}

.orderbtn div {
  background-color: #B3925B;
  width: 130px;
  height: 46px;
  border-radius: 10px;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orderbtn div:hover {
  cursor: pointer;
}

.orderbtn div a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 24px;
}

@media screen and (max-width: 325px) {
  .step_box .step_ball li {
    width: 25%;
    width: 52px;
    height: 52px;
  }
  .step_box .step_ball li::before {
    content: "";
    width: 999%;
    height: 4px;
    left: 50px;
    top: 50%;
    z-index: -1;
  }
  .step_text {
    font-size: 12px !important;
  }
  .memImage, .name {
    display: none;
  }
  .rwdInfoDetail {
    width: 50%;
    margin: 50px auto;
    text-align: center;
  }
  .rwdmemImage {
    width: 37%;
    overflow: hidden;
    margin: 20px auto;
  }
  .rwdorderInfo {
    width: 100%;
  }
  #memName {
    font-size: 2.4rem;
    letter-spacing: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  .orderInfo {
    width: 100%;
  }
  .orderInfo div h3 {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
  }
  .orderInfo div h3 img {
    width: 4%;
  }
  .orderInfo input {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
    height: 30px;
    border-radius: 5px;
  }
  #memPhone, #msg {
    width: 50%;
    margin: 0px 10px;
    letter-spacing: 0;
  }
  #memPhone {
    margin-left: 21px;
  }
  .discountTop {
    display: block;
  }
  .discountNo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .discountNo select {
    width: 60%;
    height: 30px;
    border-radius: 5px;
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    margin-left: 0px;
  }
  .discountNo h3, .discountBottom h3, .cardInfo h3 {
    font-size: 14px;
  }
  .gamelink {
    width: 40%;
  }
  .cardInfo input {
    height: 30px;
    border-radius: 5px;
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
  }
  .cardInfo div {
    margin-bottom: 10px;
  }
  #cardName label {
    margin-right: 30px;
  }
  #cardName input {
    width: 60%;
  }
  #cardNo label {
    margin-right: 73px;
  }
  #cardNo input {
    width: 15%;
    margin-right: 5px;
  }
  #cardExp label {
    margin-right: 43px;
  }
  #cardExp input {
    width: 15%;
  }
  #cardExp span {
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
    margin: 0px 3px;
  }
  #cardSafeNo {
    margin-bottom: 50px;
  }
  #cardSafeNo label {
    margin-right: 57px;
  }
  #cardSafeNo input {
    width: 15%;
    margin-right: 20px;
  }
  .ListTotal {
    width: 80%;
    margin: 50px auto;
  }
  .ListTotal h2 {
    font-size: 16px;
  }
  #line {
    width: 40%;
  }
  .orderbtn div {
    font-size: 16px;
    width: 70px;
    height: 35px;
    border-radius: 5px;
  }
  .orderbtn div a {
    font-size: 16px;
  }
}

@media screen and (min-width: 326px) and (max-width: 575px) {
  .step_box .step_ball li {
    width: 25%;
    width: 52px;
    height: 52px;
  }
  .step_box .step_ball li::before {
    content: "";
    width: 999%;
    height: 4px;
    left: 50px;
    top: 50%;
    z-index: -1;
  }
  .step_text {
    font-size: 14px !important;
  }
  .InfoDetail {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .memImage, .name {
    display: none;
  }
  .rwdInfoDetail {
    width: 50%;
    margin: 50px auto;
    text-align: center;
  }
  .rwdmemImage {
    width: 37%;
    overflow: hidden;
    margin: 20px auto;
  }
  .rwdorderInfo {
    width: 100%;
  }
  #memName {
    font-size: 3.5rem;
    letter-spacing: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  .orderInfo {
    width: 100%;
  }
  .orderInfo div h3 {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
  }
  .orderInfo div h3 img {
    width: 4%;
  }
  .orderInfo input {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
    height: 30px;
    border-radius: 5px;
  }
  #memPhone, #msg {
    width: 55%;
    margin: 0px 10px;
    letter-spacing: 0;
  }
  #memPhone {
    margin-left: 23px;
  }
  .discountTop {
    display: block;
  }
  .discountNo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .discountNo select {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    margin-left: 0px;
  }
  .discountNo h3, .discountBottom h3, .cardInfo h3 {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
  }
  .cardInfo input {
    height: 30px;
    border-radius: 5px;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
  }
  .cardInfo div {
    margin-bottom: 10px;
  }
  #cardName label {
    margin-right: 40px;
  }
  #cardName input {
    width: 70%;
  }
  #cardNo label {
    margin-right: 97px;
  }
  #cardNo input {
    width: 16%;
    margin-right: 11px;
  }
  #cardExp label {
    margin-right: 59px;
  }
  #cardExp input {
    width: 15%;
  }
  #cardExp span {
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    font-family: 'Roboto', sans-serif;
    margin: 0px 3px;
  }
  #cardSafeNo {
    margin-bottom: 50px;
  }
  #cardSafeNo label {
    margin-right: 77px;
  }
  #cardSafeNo input {
    width: 15%;
    margin-right: 20px;
  }
  .ListTotal {
    width: 80%;
    margin: 50px auto;
  }
  .ListTotal h2 {
    font-size: 18px;
  }
  .orderbtn div {
    font-size: 16px;
    width: 90px;
    height: 35px;
    border-radius: 5px;
  }
  .orderbtn div a {
    font-size: 16px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .step_box .step_ball li {
    width: 85px;
    height: 85px;
  }
  .step_box .step_ball li::before {
    height: 14px;
    width: 300px;
  }
  .step_box .step_text {
    font-size: 18px;
  }
  .InfoDetail {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .memImage, .name {
    display: none;
  }
  .rwdInfoDetail {
    width: 50%;
    margin: 50px auto;
    text-align: center;
  }
  .rwdmemImage {
    width: 37%;
    overflow: hidden;
    margin: 20px auto;
  }
  .rwdorderInfo {
    width: 100%;
  }
  #memName {
    font-size: 3.5rem;
    letter-spacing: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  .orderInfo {
    width: 100%;
  }
  .orderInfo div h3 {
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
    font-family: 'Roboto', sans-serif;
  }
  .orderInfo div h3 img {
    width: 4%;
  }
  .orderInfo input {
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
    font-family: 'Roboto', sans-serif;
    height: 30px;
    border-radius: 5px;
  }
  #memPhone, #msg {
    margin: 0px 10px;
    letter-spacing: 0;
  }
  #memPhone {
    margin-left: 30px;
  }
  .discountTop {
    display: block;
  }
  .discountNo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .discountNo select {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    margin-left: 0px;
  }
  .discountNo h3, .discountBottom h3, .cardInfo h3 {
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
    font-family: 'Roboto', sans-serif;
  }
  .cardInfo input {
    height: 30px;
    border-radius: 5px;
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
    font-family: 'Roboto', sans-serif;
  }
  .cardInfo div {
    margin-bottom: 10px;
  }
  #cardName label {
    margin-right: 40px;
  }
  #cardName input {
    width: 70%;
  }
  #cardNo label {
    margin-right: 107px;
  }
  #cardNo input {
    width: 15%;
    margin-right: 10px;
  }
  #cardExp label {
    margin-right: 59px;
  }
  #cardExp input {
    width: 15%;
  }
  #cardExp span {
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
    font-family: 'Roboto', sans-serif;
    margin: 0px 3px;
  }
  #cardSafeNo {
    margin-bottom: 50px;
  }
  #cardSafeNo label {
    margin-right: 82px;
  }
  #cardSafeNo input {
    width: 15%;
    margin-right: 20px;
  }
  .ListTotal {
    width: 80%;
    margin: 50px auto;
  }
  .ListTotal h2 {
    font-size: 21px;
  }
  .orderbtn div {
    font-size: 18px;
    width: 90px;
    height: 35px;
    border-radius: 5px;
  }
  .orderbtn div a {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .step_box .step_ball li {
    width: 105px;
    height: 105px;
  }
  .step_box .step_ball li::before {
    height: 14px;
    width: 300px;
  }
  .step_box .step_text {
    font-size: 21px;
  }
  .InfoDetail {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .memImage, .name {
    display: none;
  }
  .rwdInfoDetail {
    width: 50%;
    margin: 50px auto;
    text-align: center;
  }
  .rwdmemImage {
    width: 37%;
    overflow: hidden;
    margin: 20px auto;
  }
  .rwdorderInfo {
    width: 100%;
  }
  #memName {
    font-size: 3.5rem;
    letter-spacing: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  .orderInfo {
    width: 100%;
  }
  .orderInfo div h3 {
    font-size: 2.1rem;
    letter-spacing: 0.8rem;
    font-family: 'Roboto', sans-serif;
  }
  .orderInfo div h3 img {
    width: 4%;
  }
  .orderInfo input {
    font-size: 2.1rem;
    letter-spacing: 0.8rem;
    font-family: 'Roboto', sans-serif;
    height: 30px;
    border-radius: 5px;
  }
  #memPhone, #msg {
    margin: 0px 10px;
    letter-spacing: 0;
  }
  #memPhone {
    margin-left: 25px;
  }
  .discountTop {
    display: block;
  }
  .discountNo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .discountNo select {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    font-size: 2.1rem;
    letter-spacing: 0.8rem;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    margin-left: 0px;
  }
  .discountNo h3, .discountBottom h3, .cardInfo h3 {
    font-size: 2.1rem;
    letter-spacing: 0.8rem;
    font-family: 'Roboto', sans-serif;
  }
  .cardInfo input {
    height: 40px;
    border-radius: 5px;
    font-size: 2.1rem;
    letter-spacing: 0.8rem;
    font-family: 'Roboto', sans-serif;
  }
  .cardInfo div {
    margin-bottom: 10px;
  }
  #cardName label {
    margin-right: 40px;
  }
  #cardName input {
    width: 70%;
  }
  #cardNo label {
    margin-right: 127px;
  }
  #cardNo input {
    width: 16%;
    margin-right: 17px;
  }
  #cardExp label {
    margin-right: 68px;
  }
  #cardExp input {
    width: 15%;
  }
  #cardExp span {
    font-size: 2.1rem;
    letter-spacing: 0.8rem;
    font-family: 'Roboto', sans-serif;
    margin: 0px 3px;
  }
  #cardSafeNo {
    margin-bottom: 50px;
  }
  #cardSafeNo label {
    margin-right: 96px;
  }
  #cardSafeNo input {
    width: 15%;
    margin-right: 20px;
  }
  .ListTotal {
    width: 80%;
    margin: 50px auto;
  }
  .ListTotal h2 {
    font-size: 24px;
  }
  .orderbtn div {
    font-size: 21px;
    width: 130px;
    height: 46px;
    border-radius: 10px;
  }
  .orderbtn div a {
    font-size: 21px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .InfoDetail {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .memImage, .name {
    display: none;
  }
  .rwdInfoDetail {
    width: 80%;
    margin: 50px auto;
    text-align: center;
  }
  .rwdmemImage {
    width: 37%;
    overflow: hidden;
    margin: 20px auto;
  }
  .rwdorderInfo {
    width: 100%;
  }
  #memName {
    font-size: 3.5rem;
    letter-spacing: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  .orderInfo {
    width: 100%;
  }
  #memPhone, #msg {
    margin: 0px 10px;
    letter-spacing: 0;
  }
  #memPhone {
    margin-left: 45px;
  }
}

@media screen and (min-width: 1200px) {
  .rwdInfoDetail {
    display: none;
  }
}
/*# sourceMappingURL=orderPaymentGroup.css.map */