// LOGO
$logoColor:#007e85; // LOGO標準色
// 背景
$mainBackgroundColor:#63CCC8; // 主背景色
$secBackgroundColor:#04B2AC; // 副被景色
$insideBackgroundColor:#E5E3DD; // 內頁背景色
// 按鈕 / 文字
$textColor:#013B4F; // 文字/按鈕顏色
$btnColor:#B3925B; // 文字/按鈕顏色


