*{
    color: $textColor;
  }
// H系列
$fontsize_H1 : 45px; //H1 45px
$fontsize_H2 : 35px; //H2 35px
$fontsize_H3 : 24px; //H3 24px
$fontsize_H4 : 21px; //H4 21px
$fontsize_H5 : 18px; //H5 18px
$fontsize_H6 : 16px; //H5 16px
// P系列
$fontsize_P1 : 14px; //P1 14px
$fontsize_P2 : 12px; //P1 12px
$fontsize_P3 : 10px; //P1 10px


