// H系列
$fontsize_H1 : 4.5rem; //H1 45px
$fontsize_H2 : 3.5rem; //H2 35px
$fontsize_H3 : 2.4rem; //H3 24px
$fontsize_H4 : 2.1rem; //H4 21px
$fontsize_H5 : 1.8rem; //H5 18px
$fontsize_H6 : 1.6rem; //H5 16px
// P系列
$fontsize_P1 : 1.4rem; //P1 14px
$fontsize_P2 : 1.2rem; //P1 12px
$fontsize_P3 : 1rem; //P1 10px


