@import "mixins/mixins.scss";
@import "base/base.scss";

// 修改動作 顯示的燈箱  (管理員 及 會員 帳號管理)
.alertLightbox_black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(107, 107, 107, 0.253);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 22;

}

.alertLightboxWrapper {
    background-image: url(../../dist/Images/alert/alert-bg.png);
    background-size: cover;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    position: relative;

    // border: 1px solid red;
    @media screen and (max-width:576px) {
        width: 300px;
        height: 300px;
    }
}

.manager_lightbox_close_img {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 0;
}

.alertLightbox {
    padding: 60px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #013B4F;
    height: 100%;

    @media screen and (max-width:576px) {
        padding: 60px 50px 40px 50px;
    }

    div:first-child {
        font-weight: bold;
        margin-top: 170px;

        @media screen and (max-width:576px) {
            margin-top: 94px;
        }

    }

    div:nth-child(2) {
        background-color: #013B4F;
        color: #fff;
        border-radius: 10px;
        overflow: hidden;
        padding: 8px 10px 6px 10px;
        cursor: pointer;

    }
}



//檢舉燈箱

.report {
    .alertLightboxWrapper {
        @media screen and (max-width:576px) {

            height: 320px;
        }

        .alertLightbox {

            @media screen and (max-width:576px) {
                padding: 45px 50px 30px 50px;
            }

            div:first-child {
                margin-top: 27px;


                @media screen and (max-width:576px) {
                    margin-top: 0px;
                }

            }

            ul {
                li {

                    margin: 15px 0;
                    width: 100%;



                    input {
                        display: none;

                        &:checked+label {
                            background-color: $textColor;
                            color: white;
                        }
                    }

                    label {
                        cursor: pointer;
                        width: 100%;
                        border: 1px solid $textColor;
                        padding: 12px;
                        font-size: 16px;
                        border-radius: 50px;
                        cursor: pointer;
                        text-align: center;
                        display: inline-block;

                        &:hover {
                            background-color: $textColor;
                            color: white;
                        }
                    }


                }
            }
        }
    }
}

#sure {
    background-color: #013B4F;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 8px 10px 6px 10px;
    cursor: pointer;
}

#hint {
    position: absolute;
    font-size: 12px;
    color: red;
    bottom: 0;
    transform: translateY(-23px);

    @media screen and (max-width:576px) {
        transform: translateY(-7px);
    }
}