@import "./base/base.scss";
@import "./mixins/mixins.scss";
@import "./brandStory-banner.scss";
@import "./mixins/animation.scss";

body{
    margin: 0 auto;
    color: $textColor;
    // div{
    //     border: 2px solid green;
    // }
}

#header{
    background-color: $mainBackgroundColor;
    margin-bottom: 0;
}

// 第一屏--------------------------------------------------------
section.banner{
    width: 100%;
    height: calc(100vh - 80px);
    background-color: $mainBackgroundColor;
    
    position: relative;
    overflow: hidden;

    // top:0;

    // img.wave{
    //     max-width: 100%;
    //     position: absolute;
    //     bottom:0;
    // }
}

// 第二屏-品牌描述--------------------------------------------------
section.story_descipt{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $insideBackgroundColor;
    overflow: hidden;

    .descript_block{
        display: inline-flex;

        // 內容寬度邊界-----------------
        width: 90%;
        margin-bottom: 40vh;
        align-items: center;
        justify-content: space-between;

        &:first-child{
            margin-top: 15vh;
        }
    }
}

.shape{
    flex: 5;
    height:35vw;
    background: $textColor;
    border-radius: 10% 45% 0% 45%;
    overflow: hidden;
    position: relative;
    right: 1.5vw;

    // 定位形狀內圖片置中
    img{
        position: absolute;
        transform: translate(50%,-50%);
        top: 50%;
        right: 50%;
        width: 65%;
    }
}

// 2.文字內容--------------------
.text_block{
    display: flex;
    flex: 7;
    flex-direction: row;
    justify-content: flex-end;

    .text{
        flex-direction: column;
    }

    .mascot{
        display: flex;
        align-items: flex-end;

        img{
            max-width: 100%;
        }
    }
}

// 文字區塊內部屬性--------------------
.text{
    h1{
        font-size: 70px;
        font-family: Adobe Caslon Pro;
        font-style: italic;
        font-weight: bold; 
        letter-spacing: 5px;
    }

    h2{
        @include H2;
        margin: 40px 0 35px;
        letter-spacing: 5px;
        font-weight: bold; 
    }

    p{
        @include H6;
        line-height: 32px;
        letter-spacing: 5px;
    }
}


// 偶數反轉區塊定位------------------------------------------------
.descript_block:nth-child(even){
    flex-direction: row-reverse;

    .shape{
        border-radius: 0% 45% 10% 45%;
        right: -12vw;
    }

    .text_block{
        justify-content: flex-start;
        .text{
            flex: 9.5;
            padding-left: 10vw;
        }

        .mascot{
            flex: 2.5;
        }
    }
}
// 形狀背景色及動畫效果-------------------------------------
.descript_block:nth-child(1) .shape img{
    animation: bubbletea 2s;
}
.descript_block:nth-child(2) .shape{
    background: #F7B447;
    img{
        top: 70%;
        animation: qr 2s;
    }
}

.descript_block:nth-child(3) .shape{
    background-color: $btnColor;
    img{
        width: 100%;
        top: 45%;
        animation: bubbletea_handle 2s;
    }
}

.descript_block:nth-child(4) .shape{
    background-color: $mainBackgroundColor;

    img{
        &:first-child{
            z-index: 1;
            top:60%;
            animation: mascot 1s cubic-bezier(.89,-0.93,.2,1.58);
        }
        &:nth-child(2){
            width: 35%;
            top:25%;
            // animation: lets_join 1s cubic-bezier(.91,.05,.69,.93);
            animation: lets_join 0.8s linear 0.2s;

        }
        &:nth-child(3){
            width: 100%;
            top:80%;
            opacity: 0.5;
        }
    }
}

// 底部區塊--------------------------------------
section.btm_block{
    background-color: $insideBackgroundColor;
}

.address{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px;
}

.address_text{

    h2{
        @include H2;
        margin-bottom: 35px;
        letter-spacing: 5px;
        font-weight: bold; 
    }

}

.address_text .title_block{
    display: flex;
    flex-direction: column;
    .info_block{
        display: inline-flex;
        align-items: center;

        img{
            margin-right: 30px;
        }
        h5{
            @include H5;
            font-weight: bold; 
            line-height: 36px;
        }
    } 
}

#footer{
    margin-top: 0;
}


// rwd---------------------------------------------------------------------------------
@media (min-width: 767px) and (max-width: 991px){
    // 文字屬性-------------------------------
    .text{
        h1{
            font-size: 48px;
            letter-spacing: 3px;
        }
    
        h2{
            @include H3;
            letter-spacing: 4px;
            margin: 40px 0 25px;
        }
    
        p{
            @include P1;
            line-height: 24px;
            letter-spacing: 3px;
        }
    }
    .text_block .mascot img {
        width: 80%;
    }   
}


@media (min-width: 576px) and (max-width: 767px){
    // 圖文上下排列----------------------------
    section.story_descipt .descript_block {
        margin: 0 auto;
        flex-direction: column;
        text-align: center;
        margin-bottom: 20vw;
    }
    
    // 形狀尺寸改變----------------------------
    .shape{
        flex: none;
        width: 50vw;
        height: 50vw;
        right: 0;
        margin-bottom: 35px;
    }
    // . 偶數反轉區塊-------------------------
    .descript_block:nth-child(even) .shape{
        right: 0;
    }

    .descript_block:nth-child(even) .text_block .text {
        padding-left: 0vw;
    }

    // 文字屬性-------------------------------
    .text_block {
        flex: none;
        width: 90%;
        justify-content: center;
    }
    .text_block .text{
     
        h1{
            font-size: 48px;
            letter-spacing: 3px;
        }
    
        h2{
            @include H3;
            letter-spacing: 4px;
            margin: 40px 0 25px;
        }
    
        p{
            @include P1;
            line-height: 24px;
            letter-spacing: 3px;
        }  
        
    }

    // 吉祥物消失-----------------------------
    .text_block .mascot {
        display: none;
    }

    // 底部區塊----------------------------------------------
    .address{
        flex-direction: column;
        align-items: center;
        h2{
            text-align: center;
        }

        .img_block{
            display: flex;
            justify-content: center;
            img{
                width: 80%;
                margin-top: 20px;
            }
        }
    }
}

@media (max-width: 576px){
    // 圖文上下排列----------------------------
    section.story_descipt .descript_block {
        margin: 0 auto;
        flex-direction: column;
        text-align: center;
        margin-bottom: 20vw;
    }
    
    // 形狀尺寸改變----------------------------
    .shape{
        flex: none;
        width: 50vw;
        height: 50vw;
        right: 0;
        margin-bottom: 35px;
    }
    // . 偶數反轉區塊-------------------------
    .descript_block:nth-child(even) .shape{
        right: 0;
    }

    .descript_block:nth-child(even) .text_block .text {
        padding-left: 0vw;
    }

    // 文字屬性-------------------------------
    .text_block {
        flex: none;
        width: 90%;
        justify-content: center;
    }
    .text_block .text{
     
        h1{
            font-size: 36px;
            letter-spacing: 2px;
        }
    
        h2{
            @include H4;
            letter-spacing: 4px;
            margin: 30px 0 15px;
        }
    
        p{
            @include P2;
            line-height: 24px;
            letter-spacing: 1px;
        }  
        
    }

    // 吉祥物消失-----------------------------
    .text_block .mascot {
        display: none;
    }

    // 底部區塊----------------------------------------------
    .address{
        flex-direction: column;
        align-items: center;
        h2{
            @include H4;
            letter-spacing: 4px;
            text-align: center;
        }

        .img_block{
            display: flex;
            justify-content: center;
            img{
                width: 70%;
                margin-top: 20px;
            }
        }
    }

    .address .img_block img{
        max-width: 80%;
        margin-top: 20px;
    }

    .address_text .title_block .info_block {
        h5{
            @include H6;
            line-height: 28px;
        }

        img{
            margin-right: 10px;
        }
    }
}


