@import "mixins/mixins.scss";
@import "base/base.scss";

body {
    background-color: $insideBackgroundColor;
}

#countDown {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-weight: bold;
    @include H3;
}