@import "mixins/mixins.scss";
@import "base/base.scss";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    background-color: $insideBackgroundColor;
}

// 揪團限時時間
#countDown {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-weight: bold;
    @include H3;
    color: $textColor;

    #inTime {
        color: red;
    }
}

@media screen and (max-width:576px) {
    #countDown {
        @include H4;
    }
}

// 揪團資訊
#group_info {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1080px;
    width: 85%;
    display: flex;
    background-color: white;
    color: $textColor;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 4px 4px 4px 0px#D0D0D0;

    // 揪團圖片
    #group_img {
        display: inline-block;
        width: 33%;

        img {
            vertical-align: top;
        }
    }

    .group_info_inner {
        // border: 1px solid red;
        width: 67%;
        padding: 23px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        #name_time_wrapper {
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
            border-bottom: 1px solid #707070;

            #group_name {
                @include H3;
                letter-spacing: 3px;
            }

            #start_time_wrapper {
                @include P2;
                color: $btnColor;
                align-self: flex-end;
            }
        }

        #info_text_wrapper {
            display: flex;
            padding-top: 10px;

            #info_text_left {
                width: 48%;


                #name_phone {
                    display: flex;
                    padding-top: 10px;
                    padding-bottom: 30px;

                    #user_img {
                        margin-right: 20px;
                        border-radius: 50%;
                        width: 76px;
                        height: 76px;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            max-width: none;
                        }
                    }

                    #name_phone_inner {
                        width: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        #group_leader_name_wrapper {
                            @include H6;
                            padding-bottom: 5px;

                            #group_leader_name {
                                @include H3;
                            }
                        }

                        #phone_wrapper {
                            padding-top: 5px;

                            #tell_img {
                                width: 20px;
                                margin-right: 5px;
                            }

                            #phone {
                                @include H5;
                                letter-spacing: 3px;

                            }
                        }
                    }
                }

                .cup_wrapper {
                    @include H6;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    padding-top: 15px;

                    img {
                        margin-right: 20px;
                    }

                    span {
                        vertical-align: middle;
                    }
                }
            }

            #info_text_right {
                width: 52%;
                @include H5;
                border-left: 1px solid #707070;
                padding-left: 19px;

                .info_text_right_inner {
                    padding-top: 15px;

                    span {
                        @include H6;
                        display: block;
                    }

                    #adress,
                    #arrive_time,
                    #deadline_time {
                        @include H5;
                        font-weight: bold;
                        padding-top: 10px;
                    }



                    #adress {
                        letter-spacing: 0.3rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1200px) and (min-width:993px) {
    #group_info {
        width: 95%;

        .group_info_inner {
            padding: 19.5px;
            justify-content: center;

            #name_time_wrapper {
                padding-bottom: 8px;
            }

            #info_text_wrapper {


                #info_text_left {



                    #name_phone {


                        #user_img {

                            margin-right: 10px;
                        }
                    }

                    .cup_wrapper {
                        padding-top: 12px;
                    }
                }

                #info_text_right {


                    .info_text_right_inner {
                        padding-top: 10px;

                        #adress,
                        #arrive_time,
                        #deadline_time {
                            padding-top: 5px;
                        }
                    }
                }
            }
        }
    }


}

@media screen and (max-width:992px) {
    #group_info {
        flex-wrap: wrap;
        width: 60%;

        #group_img {
            width: 100%;

            #img_group {
                max-width: auto !important;
                width: 100%;
            }
        }

        .group_info_inner {
            width: 100%;

            #name_time_wrapper {
                flex-wrap: wrap;

                #start_time_wrapper {
                    padding-top: 10px;
                }
            }

            #info_text_wrapper {
                flex-wrap: wrap;

                #info_text_left {
                    width: 100%;
                    padding-bottom: 20px;

                    #name_phone {
                        #user_img {

                            margin-right: 15px;
                        }

                    }

                }

                #info_text_right {
                    width: 100%;
                    border-left: 0px;
                    padding-left: 5px;
                    border-top: 1px solid #707070;
                }
            }
        }
    }
}

@media screen and (max-width:576px) {
    #group_info {
        width: 80%;

        .group_info_inner {


            #name_time_wrapper {
                padding-left: 10px;
            }

            #info_text_wrapper {


                #info_text_left {
                    padding-left: 10px;


                    #name_phone {


                        #user_img {
                            display: none;
                        }

                        #name_phone_inner {
                            width: 100%;
                        }
                    }
                }

                #info_text_right {
                    padding: 0 10px;
                }
            }
        }
    }
}

#menu_guide {
    display: flex;
    justify-content: center;
    @include H3;
    color: $textColor;
    font-weight: bold;
    margin: 50px 0;

    span {
        margin-left: 30px;
        align-self: flex-end;
    }
}

@media screen and (max-width:576px) {
    #menu_guide {
        @include H4;
        width: 90%;
        margin: 50px auto;
        letter-spacing: 0.2rem;

        span {
            margin-left: 10px;
            text-align: center;
            line-height: 28px;
        }
    }
}

#follow {
    @include H3;
    color: $textColor;
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: $mainBackgroundColor;
    width: 300px;
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 10px;
    position: relative;
    top: 10px;

    span {
        align-self: center;
        padding-top: 5px;
        padding-left: 10px;
    }
}

@media screen and (max-width:576px) {
    #follow {
        margin: 0;
        width: 150px;
        @include H5;
        margin: 0 auto;
        top: 12px;

        img {
            width: 25px;
        }
    }
}