// 導入共用基本
@import "./base/base.scss";
@import "./mixins/mixins.scss";

// 關於揪飲

.brandStory{
    width: 100%;
    // border: 2px solid #013B4F;
    background-color: $btnColor;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    border-radius: 5px;
    box-shadow: 0 4px 15px 0 rgba(136, 138, 139, 0.61);

    .story_block{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin:100px 0 100px;
        img{
            max-width: 100%;
        }
    
        .title_block{
            text-align: left;
            width: 40%;
            margin-left: 120px;
            h1{
                @include H1;
                letter-spacing: 5px;
                font-style: italic;
                font-weight: bold;
                font-family: Adobe Caslon Pro;
                color: white;
                border-bottom: 1px solid white;
                padding: 20px 0;
            }
    
            h3{
                margin-top: 40px;
                @include H3;
                color: white;
            }
    
            h6{
                @include H6;
                margin: 20px 0 20px;
                line-height: 36px;
                color: white;
            }
        }
    }

    .address_block{
        width: 100%;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 30px;

        .address{
    
            h1{
                @include H1;
                letter-spacing: 5px;
                font-style: italic;
                font-weight: bold;
                font-family: Adobe Caslon Pro;
                color: white;
                border-bottom: 1px solid white;
                padding: 20px 0;
            }

            h3{
                margin-top: 40px;
                @include H3;
                color: white;
            }
    
            .title_block{
                display: flex;
                flex-direction: column;
                margin-top:25px; 
                .info_block{
                    display: inline-flex;
                    align-items: center;

                    h5{
                        @include H5;
                        margin: 10px 0 10px 10px;
                        color: white;
                        span{
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

.bottom_block{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
      
    button.seemore{
        @include lineargradient_button;
        width: 180px;
        height: 40px;
        @include H6;
        font-weight: bold;
        color: white;

        &:hover{
            @include lineargradient_button-hover;
            transform: translateY(-5px);
        }

        &:focus{
            outline: none;
        }
    }

    button.seemore.color-2 {
        background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
        box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
    }


}



@media (min-width: 992px) and (max-width: 1199px) {

    .brandStory{
        .story_block{
            margin: 60px 0 60px;

            .title_block{
                margin-left: 60px;
        
                h2{
                    @include H3;
                }
        
                h6{
                    @include P1;
                    margin: 50px 0 20px;
                    line-height: 24px;
                }
            }
    
        }
    
        .address_block{
            margin-bottom: 60px;
    
            .address{

                h2{
                    @include H3;
                }
        
                .title_block{
                    width: 100%;
             
                    .info_block{
                        margin-right: 30px;
                        
                        h5{
                            @include P1;
                            margin-left: 10px;
                            
                        }
                    }
                }
            }
    
        }
    }
}


@media (min-width: 576px) and (max-width: 991px) {

    .brandStory{


        .story_block{
            display: flex;
            flex-direction: column;
            margin: 40px 0 40px;

            .title_block{
                margin-top: 50px;
                margin-left: 0px;
                width: 80%;
                text-align: center;
        
                h2{
                    @include H3;
                }
        
                h6{
                    @include P1;
                    margin: 20px 0 20px;
                    line-height: 24px;
                }
            }
    
        }
    
        .address_block{
            margin-bottom: 40px;
            flex-direction: column-reverse;
    
            .address{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;

                h2{
                    @include H3;
                }
        
                .title_block{
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
             
                    .info_block{

                        margin-right: 0px;
                        
                        h5{
                            @include P1;
                            margin-left: 10px;
                            
                        }
                    }
                }
            }

            .google_map{
                iframe{
                    width: 100%;
                }
            }
    
        }
    }
}


@media (max-width: 575px) {

    .brandStory{
        border: initial;

        .story_block img {
            max-width: 80%;
        }

        .story_block{
            display: flex;
            flex-direction: column;
            margin: 40px 0 40px;

            .title_block{
                margin-top: 50px;
                margin-left: 0px;
                width: 80%;

                h1{
                    @include H3;
                    letter-spacing: 3px;
                    font-family: Adobe Caslon Pro;
                }
        
                h3{
                    @include H5;
                }
        
                h6{
                    @include P2;
                    margin: 20px 0 20px;
                    line-height: 24px;
                }
            }
    
        }
    
        .address_block{
            margin-bottom: 40px;
            flex-direction: column-reverse;
    
            .address{
                margin-top: 20px;
                display: flex;
                flex-direction: column;

                h1{
                    @include H3;
                    letter-spacing: 3px;
                    font-family: Adobe Caslon Pro;
                }

                h3{
                    @include H5;
                }
        
                .title_block{
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
             
                    .info_block{

                        margin-right: 0px;
                        
                        h5{
                            @include P2;
                            margin-left: 5px;
                            
                        }
                    }
                }
            }

            .google_map{
                iframe{
                    width: 100%;
                }
            }
    
        }
    }
}

