@import "base/base.scss";
@import "mixins/mixins.scss";

body {
    background-color:$insideBackgroundColor;
}

h3{
    color:$textColor;
    font-size:$fontsize_H3;
}
h2{
    color:$textColor;
    font-size:$fontsize_H2;
    font-weight: bold;
}
h4{
    color:#707070;
    font-size:$fontsize_H4;
}

h5{
    font-size:$fontsize_H5 ;
    color:$textColor;
    font-weight: bold;
}

input{
    padding:0;
}
.main{
    width:100%;
    max-width:1200px;
    margin:0 auto;
}

//====進度條=====
@mixin margin-b {
    margin-bottom: 50px;
  }
  
.step_box {
    width: 90%;
    margin: 0 auto;
    // border: 1px solid red;
    box-sizing: border-box;
    @include margin-b;
  
    // margin-bottom: 30px;
    .step_ball {
      display: flex;
      justify-content: space-between;
      position: relative;
      // border: 1px solid red;
      overflow: hidden;
  
      //進度條的球
      li {
        @include step_ball_size;
        // border: 1px solid red;
        border-radius: 50%;
        background-color: #D3C8B5;
        margin-bottom: 15px;
        position: relative;
  
        //進度條的線
        &::before {
          content: "";
          position: absolute;
          width: 320px;
          height: 14px;
          background-color: #D3C8B5;
          left: 50px;
          top: 50%;
          z-index: -1;
        }
  
        //最後一條消失
        &:last-child::before {
          display: none;
        }
      } 
      //進度條當前頁面
      .on {
        background-color: $btnColor;
      }
    }
    //進度條文字
    .step_text {
      display: flex;
      justify-content: space-between;
      @include H6;
      letter-spacing: 2px;

      //進度條當前頁面
      .on {
        font-weight: bold;
      }
    }
  }

//訂單資訊
.info{
    width:100%;
    display:flex;
    @include H3;
    margin:55px auto;
    align-items: center;
    align-self: center;
    justify-content: center;
    div{
        align-self: center;
    }
    input{
        @include input_style;
    }
}
.info_name{
    margin-bottom: 20px;
}
.info_phone,.info_phone_top,.info_msg,.info_msg_top{
    display:flex;
}
.info_img{
    // width:20%;
    max-width:120px;
    overflow: hidden;
    margin-right:50px;
    
}
.info_detail{
    width:60%;
    color:#707070;
    @include H5;
    font-weight: bold;
    div{
        margin-top:5px;
    }
}
.info_phone_top,.info_msg_top{
    width:40%;
    div{
        &:first-child{
            margin-right:20px;
        }
    }
}
.info_phone_bottom,.info_msg_bottom{
    width:60%;
}

@media screen and (max-width: 756px){
   // 訂單資訊
   .info{
    display: block;
    margin-top:0;
    @include P1;
   }
   .info_img{
       width:30%;
       max-width: 120px;
       margin:0 auto;
   }

   .info_name{
       text-align: center;
       @include H6;
   }
   .info_detail{
       width:80%;
       margin:0 auto;
   }
    .info_phone_bottom,.info_msg_bottom{
        input{
            width:100%;
        }
    }
}

@media screen and (max-width: 576px){
    .info{
        display: block;
        margin-top:0;
        // @include P1;
       }
       .info_detail{
        width:90%;
        margin:0 auto;
        // @include P1;
    }
       .info_phone_bottom,.info_msg_bottom{
        input{
            width:100%;
            height: 30px;
            border-radius: 5px;
        }
    }
}

@media screen and (max-width: 325px){
    .info{
        display: block;
        margin-top:0;
        @include P2;
       }
       .info_detail{
        width:90%;
        margin:0 auto;
    }
       .info_phone_bottom,.info_msg_bottom{
        input{
            width:100%;
            height: 30px;
            border-radius: 5px;
        }
    }

}


// 折扣
.discount{
    margin:80px auto;
    width:90%;
    @include list_lable;
}
.discountTop{
    width:100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.discountNo{
    width:50%;
    display: flex;
    align-items: center;
    
    h3{
        color:#707070;
    }
    select{
        width:50%;
        height: 50px;
        border:1px solid #707070;
        border-radius: 10px;
        @include H4;
        color:#707070;
        padding-left:20px;
        margin-left: 80px;
    }
}
.gamelink{
    width:20%;
    height: 50px;
    overflow: hidden;
    text-align: right;
}
.discountBottom{
    margin: 0 auto;
    width:70%;
    display:flex;
    justify-content: space-between;
    h3{
        @include H3;
        color:#707070;
    }
}
.disTotal{
    h3{
        @include H3;
        font-weight: bold;
    }
}
// 信用卡
.card{
    width:100%;
    @include H3;
    color:#707070;
}


.cardimg{
    text-align: center;
    margin: 70px 0 30px;
}
.cardinfo{
    @include list_lable;
    width:80%;
    margin:0 auto;
    margin-bottom: 70px;
    div{
        display:flex;
        // align-self: center;        
    }
    input{
        @include input_style;
    }
}
.cardname,.cardno,.exp,.safeno{
    width:80%;
    margin:20px auto;
}

.cardname,.cardno,.exp,.safeno{
    align-self: center; 
    div{
        &:first-child{
            width:30%;
        }
        &:last-child{
            width:60%;
            input{
                width:100%;
                margin-left: 5px;
                margin-right:5px;
            }
        }
    }
}
.exp_bottom{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 576px){
    .card{
        @include H6;
    }
    .cardinfo{
        width:100%;
    }
    .cardname,.cardno,.exp,.safeno{
        div{
             &:last-child{
                width:70%;
            }
        }
    }
}
@media screen and (max-width: 376px){
    .card{
        font-size:$fontsize_P1;
    }
    .cardinfo{
        width:100%;
        input{
            height: 30px;
            border-radius: 5px;
        }
    }
    .cardname,.cardno,.exp,.safeno{
        div{
             &:last-child{
                width:70%;
            }
        }
    }
}
//金額
.ListTotal{
    width:70%;
    margin:70px auto;
    display:flex;
    justify-content: space-between;   
    align-items: center;
    h2{
        @include H3;
        font-weight: bold;
        letter-spacing: 2px;
    }
}

#line{
    width:60%;
    hr{
        border-style: none;
        border-bottom: 1px dashed $textColor;        
    }
}
.orderbtn{
    display:flex;
    justify-content: space-between;
    width:30%;
    margin:50px auto;
       div{
        //    background-color:$btnColor ;
        //    width:130px;
        //    height: 46px;
           border-radius: 10px;
           border-style: none;
           display:flex;
           align-items:center;
           justify-content:center;
           @include list_button;

            a{
                text-decoration: none;
                color:#FFFFFF;

            }
       }
   }
@media screen and (max-width: 325px){
    .step_box {
        .step_ball { 
            li {
                width: 25%;
                width: 52px;
                height: 52px; 
                //進度條的線
                &::before {
                content: "";
                width: 999%;
                height: 4px;
                left: 50px;
                top: 50%;
                z-index: -1;
                }
            }
        }
    }
    //進度條文字
    .step_text {
        @include P1;
    }
        .discountTop{
            display: block;
        }
        .discountNo{
            width:100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            select{
                width:60%;
                height: 30px;
                border-radius: 5px;
                @include P1;
                padding-left:10px;
                margin-left: 0px;
            }
        }
        .discountNo,.discountBottom,.cardInfo{
            h3{
                font-size: $fontsize_P1;
            }  
        }
        .gamelink{
            width:40%;
        }
        .cardInfo{
            input{
                height: 30px;
                border-radius: 5px;
                @include P1;
            }
            div{
                margin-bottom: 10px;
            }
            
        }
        #cardName{
            label{
                 margin-right:30px; 
            }
            input{
                width:60%;
            }
        }
        #cardNo{
            label{
                margin-right:73px;
            }
            input{
                width:15%;;
                margin-right: 5px;
            }
        }
        #cardExp{
            label{
            margin-right:43px;
            }
            input{
                width:15%;
            }
            span{
                @include P1;
                margin: 0px 3px;
            }
        }
        #cardSafeNo{
            margin-bottom:50px;
            label{
            margin-right:57px;
            }
            input{
                width:15%;
                margin-right:20px;
            }
        }
    
        .ListTotal{
            width:80%;
            margin:50px auto; 
            h2{
                font-size: $fontsize_H6;
            }
        }
        #line{
            width:40%;
        }
        .orderbtn{
            div{
                font-size:$fontsize_H6 ;
                width:70px;
                height: 35px;
                border-radius: 5px;                  
                    a{
                        font-size:$fontsize_H6 ;
                    }
            }
        }
    } 


@media screen and (min-width: 326px) and (max-width: 575px){
    .step_box {
        .step_ball { 
            li {
                // width: 25%;
                @include step_ball_size_small;
                //進度條的線
                &::before {
                content: "";
                width: 999%;
                height: 4px;
                left: 50px;
                top: 50%;
                z-index: -1;
                }
    }
}
.step_text {
    @include P1;
}
}
//進度條文字

    .InfoDetail{
        width:80%;
        margin:50px auto;
        display:flex;
        justify-content: space-around;    
        align-items: center;
    }
    
    .memImage,.name{
    display:none;
    }
    .rwdInfoDetail{
        width:50%;
        margin:50px auto;
        text-align: center;
    }
    .rwdmemImage{
        width:37%;
        overflow: hidden;
        margin:20px auto;
    }
    .rwdorderInfo{
        width:100%;
    }
    #memName{
        @include H4;
        font-weight: bold;
    }
    .orderInfo{
        width:100%;
        div{
           h3{
            @include H6;
                img{
                    width:4%;
                }
            } 
        }
        input{
            @include input_style;
            @include H6;
            height: 30px;
            border-radius: 5px;
        }
    }
    #memPhone,#msg{
        width:55%;
        margin:0px 10px;
        letter-spacing: 0;
    }

    #memPhone{
        margin-left:23px;
    }

    .discountTop{
        display: block;
    }
    .discountNo{
        width:100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        select{
            width:80%;
            height: 30px;
            border-radius: 5px;
            @include H6;
            padding-left:10px;
            margin-left: 0px;
        }
    }
    .discountNo,.discountBottom,.cardInfo{
        h3{
            @include H6;
        }  
    }
    .cardInfo{
        input{
            height: 30px;
            border-radius: 5px;
            @include H6;
        }
        div{
            margin-bottom: 10px;
        }
    }
    #cardName{
        label{
             margin-right:40px; 
        }
        input{
            width:70%;
        }
    }
    #cardNo{
        label{
            margin-right:97px;
        }
        input{
            width:16%;;
            margin-right: 11px;
        }
    }
    #cardExp{
        label{
        margin-right:59px;
        }
        input{
            width:15%;
        }
        span{
            @include H6;
            margin: 0px 3px;
        }
    }
    #cardSafeNo{
        margin-bottom:50px;
        label{
        margin-right:77px;
        }
        input{
            width:15%;
            margin-right:20px;
        }
    }

    .ListTotal{
        width:80%;
        margin:50px auto; 
        h2{
            font-size: $fontsize_H5;
        }
    }
    .orderbtn{
        div{
            font-size:$fontsize_H6 ;
            width:90px;
            height: 35px;
            border-radius: 5px;                  
                a{
                    font-size:$fontsize_H6 ;
                }
        }
    }
} 

@media screen and (min-width: 576px) and (max-width: 767px){
    .step_box {
        // border: 1px solid red;
        width: 90%;
        margin: 40px auto;
        .step_ball {
          li {    
            @include step_ball_size_small;   
            &::before {
              height: 6px;
              width: 300px;
            }
          }
        }    
        .step_text {
          @include H6;
        }
      }
    .InfoDetail{
        width:80%;
        margin:50px auto;
        display:flex;
        justify-content: space-around;    
        align-items: center;

    }
   
    .memImage,.name{
    display:none;
    }
    .rwdInfoDetail{
        width:50%;
        margin:50px auto;
        text-align: center;
    }
    .rwdmemImage{
        width:37%;
        overflow: hidden;
        margin:20px auto;
    }
    .rwdorderInfo{
        width:100%;
    }
    #memName{
        @include H3;
        font-weight: bold;
    }
    .orderInfo{
        width:100%;
        div{
           h3{
            @include H5;
                img{
                    width:4%;
                }
            } 
        }
        input{
            @include H5;
            height: 30px;
            border-radius: 5px;
        }
    }
    #memPhone,#msg{
        margin:0px 10px;
        letter-spacing: 0;
    }

    #memPhone{
        margin-left:30px;
    }

    .discountTop{
        display: block;
    }
    .discountNo{
        width:100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        select{
            width:80%;
            height: 30px;
            border-radius: 5px;
            @include H5;
            padding-left:10px;
            margin-left: 0px;
        }
    }
    .discountNo,.discountBottom,.cardInfo{
        h3{
            @include H5;
        }  
    }
    .cardInfo{
        input{
            height: 30px;
            border-radius: 5px;
            @include H5;
        }
        div{
            margin-bottom: 10px;
        }
    }
    #cardName{
        label{
             margin-right:40px; 
        }
        input{
            width:70%;
        }
    }
    #cardNo{
        label{
            margin-right:107px;
        }
        input{
            // width:15%;;
            // margin-right: 10px;
            @include input_style;
        }
    }
    #cardExp{
        label{
        margin-right:59px;
        }
        input{
            width:15%;
        }
        span{
            @include H5;
            margin: 0px 3px;
        }
    }
    #cardSafeNo{
        margin-bottom:50px;
        label{
        margin-right:82px;
        }
        input{
            width:15%;
            margin-right:20px;
        }
    }
    .ListTotal{
        width:80%;
        margin:50px auto; 
        h2{
            @include H4;
        }
    }
    
    .orderbtn{
        div{
            // font-size:$fontsize_H5 ;
            // width:90px;
            // height: 35px;
            @include list_button;
            border-radius: 5px;                  
                a{
                    font-size:$fontsize_H5 ;
                }
        }
    }
}
   
@media screen and (min-width: 768px) and (max-width: 991px){
    .step_box {
        width: 90%;
        margin: 40px auto;
        .step_ball {
          li {   
            width: 85px;
            height: 85px;   
            &::before {
              height: 14px;
              width: 300px;
            }
          }
        }    
        .step_text {
            @include H5;
        }
      }
    .InfoDetail{
        width:80%;
        margin:50px auto;
        display:flex;
        justify-content: space-around;    
        align-items: center;
    } 
    .memImage,.name{
    display:none;
    }
    .rwdInfoDetail{
        width:50%;
        margin:50px auto;
        text-align: center;
    }
    .rwdmemImage{
        width:37%;
        overflow: hidden;
        margin:20px auto;
    }
    .rwdorderInfo{
        width:100%;
    }
    #memName{
        @include H3;
        font-weight: bold;
    }
    .orderInfo{
        width:100%;
        div{
           h3{
            @include H4;
                img{
                    width:4%;
                }
            } 
        }
        input{
            @include H4;
            height: 30px;
            border-radius: 5px;
        }
    }
    #memPhone,#msg{
        margin:0px 10px;
        letter-spacing: 0;
    }
    #memPhone{
        margin-left:25px;
    }
    .discountTop{
        display: block;
    }
    .discountNo{
        width:100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        select{
            width:80%;
            height: 40px;
            border-radius: 5px;
            @include H4;
            padding-left:10px;
            margin-left: 0px;
        }
    }
    .discountNo,.discountBottom,.cardInfo{
        h3{
            @include list_lable;
        }  
    }
    .cardInfo{
        input{
            height: 40px;
            border-radius: 5px;
            @include H4;
        }
        div{
            margin-bottom: 10px;
        }
    }
    #cardName{
        label{
             margin-right:40px; 
        }
        input{
            width:70%;
        }
    }
    #cardNo{
        label{
            margin-right:127px;
        }
        input{
            width:16%;;
            margin-right: 17px;
        }
    }
    #cardExp{
        label{
        margin-right:68px;
        }
        input{
            width:15%;
        }
        span{
            @include H5;
            margin: 0px 3px;
        }
    }
    #cardSafeNo{
        margin-bottom:50px;
        label{
        margin-right:96px;
        }
        input{
            width:15%;
            margin-right:20px;
        }
    }
    .ListTotal{
        width:80%;
        margin:50px auto; 
        h2{
            @include H3;
        }
    }
    .orderbtn{
        @include list_button;
    }
} 
@media screen and (min-width: 992px) and (max-width: 1199px){
    .InfoDetail{
        width:80%;
        margin:50px auto;
        display:flex;
        justify-content: space-around;    
        align-items: center;
    }
 
    .memImage,.name{
    display:none;
    }
    .rwdInfoDetail{
        width:80%;
        margin:50px auto;
        text-align: center;
    }
    .rwdmemImage{
        width:37%;
        overflow: hidden;
        margin:20px auto;
    }
    .rwdorderInfo{
        width:100%;
    }
    #memName{
        @include H3;
        font-weight: bold;
    }
    .orderInfo{
        width:100%;
    }
    #memPhone,#msg{
        margin:0px 10px;
        letter-spacing: 0;
    }
    #memPhone{
        margin-left:45px;    
    }
} 
@media screen and (min-width: 1200px){
    .rwdInfoDetail{
        display: none;
    }
}

// 修正------------------------------------------------

// 1.進度條文字
@media screen and (min-width: 991px){
    .step_box .step_text {
      font-size: 1.4rem;
      letter-spacing: 2px;
    }
}
  
@media (max-width: 991px){
    .step_box .step_text {
      font-size: 1.2rem;
      letter-spacing: 0;
    }
}


//   2.聯絡資訊

@media screen and (max-width: 756px){
    .info_detail {
        @include P1;
    }
}


//   3.折扣代碼
@media screen and (max-width: 575px) and (min-width: 326px){
    .discountNo h3, .discountBottom h3, .cardInfo h3 {
        @include P1;
    }
}

//   4.下拉選單、輸入框
@media screen and (max-width: 575px) and (min-width: 326px){
    .discountNo {
        justify-content: space-around;
    }

    .discountNo select {
        width: 60%;   
    }

    .info_phone_bottom, .info_msg_bottom {
        width: 45%;
    }

    .cardinfo input {
        height: 25px;
        // padding: 0;
        // font-size: 1.8rem;
        // letter-spacing: 0.5rem;
       
    }
}

// 5.信用卡資訊
@media (min-width: 326px){
    .cardinfo div {
        display: flex;
        align-items: center;
    }

    .cardinfo {
        @include P1;
    }
}

// 6.遊戲連結
@media screen and (max-width: 575px) and (min-width: 326px){
    .gamelink {
        width: 40%;
        margin: 0 auto;

    }
}

// 7.使用者圖片尺寸調整

@media screen and (max-width: 756px){
    .info_img {
        width: 20%;
        max-width: 120px;
        margin: 0 auto;
    }
}

// 8.應付金額

@media screen and (max-width: 575px) and (min-width: 326px){
    .ListTotal h2 {
        @include P1;
    }
}
