@import "./base/base.scss";
@import "./mixins/mixins.scss";
$mq575: 575px;
$mq767: 767px;
$mq991: 991px;
$mq1199: 1199px;




// $f = font-size
// $p = padding
// $l-s = letter-spacing
// $b-r = border-radius
// $bc = background-color
// $c = color
@mixin button_all($f, $p, $l-s, $b-r, $bc, $c) {
  font-size: $f;
  padding: $p;
  letter-spacing: $l-s;
  border-radius: $b-r;
  background-color: $bc;
  border: 0;
  color: $c;
  cursor: pointer;
  text-indent: 10px;
}

body {
  background-color: $insideBackgroundColor;
  position: relative;
}


@mixin margin-b {
  margin-bottom: 50px;
}

@mixin ls($ls) {
  letter-spacing: $ls;
  text-indent: $ls;
}

//width :338px
#order_list .group_order_done_person{
  &:first-child{
    // border: 1px solid red;
    border-top: 0px solid #c0bfbf;
  }
  &:last-child{
    border-bottom: 0px;
  }
  
}
.w-338 {
  width: 90%;
  // padding: 0 18.5px;
  // margin: 0 9px;
  margin: 0 auto;
  // border: 1px solid black;
}

//width :338px





//====進度條=====


//====進度條=====

//letter-spacing置中

//====開團資料====
.group_data {
  // border: 1px solid red;
  min-height: 100px;

  .group_data_row {
    // border: 2px solid blue;
    margin: auto;
    margin-bottom: 55px;
    position: relative;
    ul {
      max-width: 550px;
        // border: 2px solid red;
      li {
        //   border: 1px solid red;
        display: flex;
        justify-content: space-evenly;
        align-items: left;
        margin-bottom: 20px;

        :nth-child(odd) {
          color: $textColor;
          font-weight: bold;
          width: 40%;
        }

        :nth-child(even) {
          // border: 1px solid red;
          width: 60%;
          // text-align: center;
          :last-child div{
            background-color: #B3925B;
          }
          
        }
        &:last-child{
          margin-bottom: 0;
        }
        &:last-child div{
          // border: 2px solid;
          &:last-child{
            // align-items: center;
            div{
              display: flex;
              align-items: center;
              color: rgb(255, 255, 255);
            background: $textColor;
            text-align: center;
            border-radius: 5px;
            letter-spacing: 0;
            width: 65px;
            height: 27px;
            }
            
        }
        }
        div {
          // border: 1px solid black;
          // width: 200px;
          @include H6;
          color: #707070;
          letter-spacing: 3px;
          // align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;     
        }
        &:last-child div {
          margin-bottom: 0;
        }
      }
    }
  }
  .group_data_total{
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    // align-items: center;
    width: 100%;
    margin: 0 auto;
    .group_data_total_img{
      width: 100%;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      .group_data_total_imgA{
        width: 60px;
        margin-right: 10px;
      }
      .group_data_total_imgB{
        font-weight: bold;
        font-size: $fontsize_H6;
        color:$textColor;
      }
    }
    .group_data_total_text{
      width: 100%;
      // border: 1px solid red;
      .group_data_total_textA{
        .on{
          font-weight: bold;
          margin-bottom: 20px;
        }
        // border: 1px solid green;
        li{
          margin-bottom: 15px;
          display: flex;
          :first-child{
            width: 50%;
            color: $textColor;
            // font-weight: bold;
            font-size: $fontsize_H6;
            img{
            width: 20px;
            margin-right: 3px;
          }
          }
          :last-child{
            width: 50%;
            font-size: $fontsize_H6;
            // border: 1px solid red;
          }
          div{
            // border: 3px solid red;
            display: flex;
            align-items: center;
          }
        }
        :last-child{
          margin-bottom: 0;
        }
      }
      
      .group_data_total_textB{
        margin-top: 35px;
        // border: 1px solid rgb(71, 11, 224);
        li{
          margin-bottom: 15px;
          display: flex;
          :first-child{
            width: 50%;
            color: $textColor;
            font-weight: bold;
            @include H6;
          }
          :last-child{
            @include H6;
            width: 50%;
          }
          
        }
      }
    }
   
  }

  .line {
    border: 1px solid #383232;
    background-color: #383232;
    margin-bottom: 55px;
  }

  //====團長資料====
  .Head_data {
    box-sizing: border-box;
    .data_wrap{
        border: 1px solid red;
    }
    .Head_row {
    //   border: 2px solid rgb(9, 236, 9);
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      margin-bottom: 100px;
      width: 100%;
      height: 180px;
      position: relative;
      &::before{
          position: absolute;
          content: "";
          width: 100%;
          border: 1px solid rgb(194, 194, 194);
          bottom: -50px;
          left: 0;
          
      }
      

      .Head_row2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        position: relative;
        // border: 2px solid red;
        width: 100%;
        height: 120px;

        // width: calc(100% - 135px);
        .Head_name {
          position: absolute;
          top: -20px;
          width: 100%;
          text-align: right;
          // border: 1px solid red;
          font-size: $fontsize_H2;
          @include ls(15px);
          color: $textColor;
          margin-bottom: 25px;
        }

        .Head_title {
          // border: 1px solid blue;
          // height: 100%;
          width: 100%;
          display: flex;
          justify-content: space-between;
          font-size: $fontsize_H6;
          color: $textColor;
          margin-bottom: 15px;

        }

        .Head_right {
          // border: 1px solid red;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: $fontsize_H6;
          color: $textColor;
        }
      }

      .Head_img {
        // position: relative;
        position: absolute;
        float: left;
        // border: 11px solid red;
        width: 105px;
        height: 105px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 20px;
        margin-right: 20px;
        top: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

      }

    }

    
    .group_order_done_total_box{
      font-size: $fontsize_P1;
      letter-spacing: 2px;
      // border: 1px solid red;
      max-width: 90%;
      margin: 0 auto;
    
      div{
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    .group_order_done_dis{
      border-bottom: 1px solid rgb(173, 173, 173);
    }
    .group_order_done_finaltotal{
      font-size: $fontsize_H3;
      color: $textColor;
      font-weight: bold;
      border-top: 2px solid $textColor;
    }
   


  }
}

//====開團資料====

//====團長資料====


//  RWD
@media screen and (min-width: 576px) {
  .group_data .group_data_row>ul {
    margin: auto;
    // border: 1px solid red;
  }
  .group_data{
  .group_data_total{
    .group_data_total_img{
      // border: 1px solid red;
      width: 100%;
      margin-right: 20px;
      .group_data_total_imgA{
        width: 120px;
      }
      .group_data_total_imgB{
        @include H5;
      }
    }
    // width: 100%;
    .group_data_total_text{
      align-items: center;
      // border: 1px solid red;
      // width: 100%;
      .group_data_total_textA{
        li{
          // border: 1px solid red;
          @include H5;
          :first-child{
            @include H5;
          }
          :last-child{
            @include H5;
          }
        }
      }
      
      .group_data_total_textB{
        li{
          margin-bottom: 35px;
          @include H5;
          :first-child{
          @include H5;
          }     
          :last-child{
          @include H5;
          } 
        }
      }
    }
   
  }
}
}

@media screen and (min-width: $mq767) {
 

  .group_data {
    .group_data_row {
      display: flex;
      flex-direction: row-reverse;
      .QR_box {
        width: 30%;
      }
      ul {
        width: 70%;
        padding: 0;

        li {
          margin-bottom:35px;
          // border: 1px solid red;
          justify-content: flex-start;

          div {
            @include H5;
            letter-spacing: 0px;
            // height: 50px;
            // width: 210px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // border: 1px solid red;
          }

          input,
          select {
            width: 200px;
            // margin-bottom: 25px;
            height: 30px;
            font-size: $fontsize_H3;
            letter-spacing: 0;
          }

          // :nth-child(odd) {
          //   //   padding-left: 40px;
          // }
          &:last-child div{       
            &:last-child{
              div{
              width: 130px;
              height: 50px;
              }
              
          }
          
          }
        }
      }
    }


    .group_data_total{
      width: 80%;
      .group_data_total_img{
        width: 100%;
        margin-right: 40px;
        .group_data_total_imgA{
          width: 170px;
          margin-right: 50px;
          margin-bottom: 30px;
        }
      }
      
      .group_data_total_text{
        width: 100%;
      
        .group_data_total_textA{
          li{
            @include H5;
            :first-child{
              @include H5;
  
            }
          }
        }
        
        .group_data_total_textB{
          li{
            @include H5;
            :first-child{
              @include H5;
            }      
          }
        }
      }
     
    }

    .Head_data {
      .Head_row {
        align-items: end;
        padding: 0 50px;

        .Head_img {
          width: 140px;
          height: 140px;
          position: relative;
          margin-right: 60px;
        }

        .Head_row2 {
          width: calc(100% - 200px);
          // border: 2px solid rgb(57, 2, 255);
          height: 140px;
          .Head_title,
          .Head_right {
            position: relative;
            // border: 1px solid rgb(17, 14, 14);
            justify-content: space-between;

          }

          .Head_name {
            position: relative;
            top: 0;
            text-align: left;
            text-indent: 0;
            // margin-bottom: 0;
          }

          :last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .group_order_done_total_box{
      width: 80%;
    }
    .group_order_done_total,
  .group_order_done_dis{
    @include H6;
  }
  }
}

@media screen and (min-width: $mq991) {
  

  .group_data {
    .group_data_row {
      ul {
        li {

          justify-content: space-evenly;
          div {
            font-size: $fontsize_H4;
            letter-spacing: 3px;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          input,
          select {
            width: 300px;
            height: 40px;
            font-size: $fontsize_H3;
          }
        }
      }
    }
    .group_data_total{
      width: 75%;
    }

    .Head_data {
      .Head_row {

        // border: 3px solid red;
        display: flex;
        padding: 0 100px;

        .Head_img {
          width: 170px;
          height: 170px;
          // border:3px solid blue;
          margin-right: 70px;
        }

        .Head_row2 {
          position: relative;
          width: calc(100% - 240px);
          height: 170px;
          // border: 1px solid rgb(26, 21, 21);
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .Head_name {
            // border: 1px solid rgb(0, 236, 32);
            text-align: left;
            font-size: $fontsize_H2;
            letter-spacing: 15px;

          }

          .Head_title {
            width: 100%;
            // border: 1px solid rgb(240, 17, 17);
            font-size: $fontsize_H3;
            letter-spacing: 10px;

            div {
              &:last-of-type {
                // color:yellow
                position: absolute;
                right: 0;
                top: 0px
              }
            }
          }

          .Head_right {
            width: 100%;
            // border: 1px solid rgb(32, 173, 255);
            font-size: $fontsize_H3;
            letter-spacing: 10px;

            button {
              font-size: $fontsize_H6;
              letter-spacing: 3px;
              padding: 0 15px;
            }
          }

        }

      }
    }
    .group_order_done_total_box{
      width: 75%;
    }
  }
  
}

@media screen and (min-width: $mq1199) {
  .w-338 {
    max-width: 1200px;
    // padding: 0 58.5px;
    // margin: 0 9px;
    margin: 0 auto;
    // border: 2px solid black;
  }

 

  .group_data {
      // border: 11px solid red;
    .group_data_row {
      ul {
        width: 70%;

          // border: 3px solid red;
        //   padding: 0 150px;
        li {
          // border: 1px solid blue;
          justify-content: space-evenly;
          // align-items:self-start;

          div {
            font-size: $fontsize_H3;
            letter-spacing: 10px;
            // margin-bottom: 25px;
              // border: 1px solid red;
            height: 50px;
            // width: 210px;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }

          input,
          select {
            width: 355px;
            // margin-bottom: 25px;
            height: 50px;
            font-size: $fontsize_H3;

          }

        }
      }
    }
    .data_wrap{
      margin-bottom: 100px;
      // border: 1px solid red;
      height: 800px;
      overflow-y: scroll;
      overflow-x: hidden;
      position: relative;
      
  }

    .Head_data {
        .Head_row{
            ::before{
                border: 0;
            }
        }
      


    }
  }

}

// 修正------------------------------------------------



// 2.訂單編號文字

@media screen and (min-width: 1199px){
  .group_data .group_data_row ul li div {
      @include H5;
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
}

//3.訂單下線條

.group_data .line {
  // border: 1px solid $textColor;
  // opacity: 0.6;
  border: initial;

}

//4.訂單文字

@media screen and (min-width: 767px){
  .group_data .group_data_total .group_data_total_text .group_data_total_textA li{
      @include H5;
      letter-spacing: 1px;

      &:first{
        @include H5;
        letter-spacing: 1px;

      }
  }
}
// ====進度bar=====

// 尺寸、對齊方式
.step_box {
  width: 100%;
  height: 135px;
  margin: 80px auto;
  overflow: hidden;

  .step_ball{
      display: flex;
      justify-content: space-between;
      position: relative;
  }

}

// 球尺寸、顏色、icon、字型
.step_box .step_ball >li{
  
  @include step_ball_size;
  border-radius: 50%;
  background-color: #EFE7DA;
  position: relative;

          // 定位進度球內img置中
          & img{
              position: absolute;
              transform: translate(50%,-50%);
              top: 50%;
              right: 50%;
          }

      // 定位下方步驟文字
          & h5{
              @include H5;
              color: $btnColor;
              letter-spacing: 0px;
              position: absolute;
              width: 100%;
              text-align: center;
              top: 120%;
          }
}




// 偽元素:進度條及變色方式

.step_box .step_ball >li{

  &:first-child{
      background-color: $btnColor;
  }

  &::before{
      content: "";
      position: absolute;
      width: 345%;
      height: 5px;
      background-color: #EFE7DA;
      left: 50px;
      top: 50%;
      z-index: -1;
  }


  &:last-child::before{
      display: none;
  }

}



// ====進度bar結束=====

//1.當前進度-步驟一

.step_box .step_ball li:first-child{
  font-weight: bold;
}

// 2.當前進度-步驟二

.step_ball>li:nth-child(2){
    background-color: $btnColor;
}

.step_ball>li:nth-child(1)::before{
    background-color: $btnColor;
}

.step_box .step_ball li:nth-child(2){
    font-weight: bold;
}

//   3.當前進度-步驟三

.step_ball>li:nth-child(2) , .step_ball>li:nth-child(3){
    background-color: $btnColor;
}

.step_ball>li:nth-child(1)::before , .step_ball>li:nth-child(2)::before{
    background-color: $btnColor;
}

.step_box .step_ball li:nth-child(3){
    font-weight: bold;
}

// 4.當前進度-步驟四

.step_box .step_ball >li{
    background-color: $btnColor;
}

.step_box .step_ball>li::before{
    background-color: $btnColor;
}

.step_box .step_ball li:nth-child(4){
    font-weight: bold;
}



//  RWD


@media (min-width: 576px) and (max-width: 991px){

  .step_box{
      height: 115px;
  }

  .step_box .step_ball >li{
      @include step_ball_size_medium;
  }

  .step_box .step_ball >li>h5{
      @include H6;
      letter-spacing: 0px;
  }


}

@media (max-width: 575px){

  .step_box{
      height: 90px;
  }

  .step_box .step_ball >li{
      @include step_ball_size_small;
  }

  .step_box .step_ball >li>h5{
      @include P2;
      letter-spacing: 0px;
  }

  .step_box .step_ball >li>img{
      width: 40%;
  }

}

