// 導入SASS共用
@import 'base/base.scss';
@import 'mixins/mixins.scss';

//
body {
    background-color: $insideBackgroundColor;
}
main {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

// 側邊 tag切換列表
aside {
    margin-bottom: 40px !important;
    flex-shrink: 0;
}

.tag_big {
    display: none;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    // li:first-child {
    //     opacity: 1;
    //     color: $textColor;
    // }

    .tag_big_on {
        opacity: 1 !important;
        color: $textColor !important;
    }

    li {
        // background-color:$btnColor;
        // border-radius: 10px;
        // overflow: hidden;
        margin: 10px 5px;
        color: rgb(161, 161, 161);
        font-size: $fontsize_H4;
        letter-spacing: 1px;
        // color: #fff;
        font-weight: bold;
        padding: 5px 10px;
        opacity: 0.6;
        cursor: pointer;

        &:hover {
            opacity: 1;
            color: $textColor;
        }
    }
}

.tag_select {
    width: 100%;
    height: 45px;
    outline: none;
    border: 3px solid $btnColor;
    font-weight: bold;
    font-size: $fontsize_H6;
}

// 第一區 個人資料

.content {
    // margin: 40px 0 0 0;
}

#mem_change_info > div {
    margin: 10px 0;
}

.tag_title {
    // text-align: center;
    @include H3;
    letter-spacing: 2px;
    color: $textColor;
    font-weight: bold;
    margin-bottom: 40px !important;
}

@media (min-width: 992px) {
    .tag_title {
        // text-align: left;
    }
}

.mem_img_box {
    // flex-direction: column;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mem_img {
    width: 170px;
    font-size: 0;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 1px solid black;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: none;
    }
}

// #mem_image{
//   width: 100% !important;
//     height: 100% !important;
//     object-fit: cover !important;
//     max-width: none !important;
// }
.change_img {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
        margin-right: 20px;
    }
}

.mem_detail_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.change_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    font-size: $fontsize_H6;
    letter-spacing: 2px;
    color: $textColor;

    label {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: bold;
        color: $textColor;
    }
    input {
        width: calc(100% - 20px);
        max-width: 400px;
        margin-left: 20px;
        height: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        // border: 1px solid $textColor;
        // border-radius: 10px;
        // overflow: hidden;
        outline: none;
    }
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    font-size: $fontsize_H6;
    letter-spacing: 2px;
    color: $textColor;

    label {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: bold;
        color: $textColor;
    }

    input {
        width: calc(100% - 20px);
        max-width: 400px;
        margin-left: 20px;
        height: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid $textColor;
        border-radius: 10px;
        overflow: hidden;
        outline: none;
    }
}
//密碼 必要 提示 文字顏色
.password_note {
    color: red;
}

.change_btn {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    background-color: $btnColor;
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    opacity: 0.6;
    &:hover {
        opacity: 1;
    }
}
.send_img {
    margin: 0 10px 0 0;
    font-size: 0;
}
@media (min-width: 576px) {
    .tag_select {
        display: none;
    }

    .tag_big {
        display: flex;
    }

    .change_img,
    .row {
        flex-direction: row;

        label,
        input {
            margin: 10px 0;
        }
        label {
            width: 30%;
        }
        input {
            width: 70%;
        }
    }
}

@media (min-width: 992px) {
    main {
        display: flex;
        position: relative;
        // justify-content: center;
        // align-items: flex-start;
    }
    aside {
        width: calc(30% - 70px) !important;
        // display: flex;
        align-self: stretch;
        // left: 0;
        border-right: 2px solid rgb(184, 180, 180) !important;
        margin: 0 70px 0 0 !important;
    }

    .tag_big {
        margin: 0 auto;
        position: sticky;
        top: 130px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 90%;
    }
    .content {
        width: 70%;
    }
    .mem_info {
        margin: 0 0;
    }
}

// 第二區  揪團訂單

.group_order {
    // display: none;
}

// 訂單列表

.order_box {
    background-color: $btnColor;
    border-radius: 15px;
    overflow: hidden;
    // padding: 0 0 20px 0;
    max-width: 750px;
    margin: 0 auto;
}

// 類型切換

.type_box {
    display: flex;
    justify-content: center;
    align-items: center;
    @include H4;
    font-weight: bold;
    letter-spacing: 2px;

    div {
        padding: 10px 10px;
        // margin: 0px 0px 30px 0;
        width: 50%;
        overflow: hidden;
        text-align: center;
        cursor: pointer;

        background-color: #fff;
        color: $btnColor;
        border-radius: 0 15px 0 0;
        &:hover {
            color: #fff;
            background-color: $btnColor;
        }
    }
    .type_box_on {
        color: #fff !important;
        background-color: $btnColor !important;
        // border-radius: 15px 0 0 0;
    }
    div:nth-child(1) {
        //     background-color: #fff;
        //     color: $btnColor;
        border-radius: 15px 0 0 0;
    }
    div:nth-child(2) {
        //     background-color: #fff;
        //     color: $btnColor;
        border-radius: 0 15px 0 0;
    }
}

// .type_box>div:hover{
//   color: #fff;
//   background-color: $btnColor;
// }

//揪團中 列表

.order_all {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 95%;
    padding: 10px 0;
}

.order_detail_box {
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.order_row {
    div {
        margin: 10px 0;
    }
    .order_row_title {
        color: $textColor;
        font-weight: bold;
    }
    div:nth-child(2) {
        color: $textColor;
        opacity: 0.6;
    }
}

.groupname {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

// .order_nowcup,.order_goalcup{
//   text-align: center;
// }

.detail_btn {
    padding: 10px 6px;
    background-color: $btnColor;
    color: #fff;
    border-radius: 5px;
    overflow: hidden;
    line-height: 12px;
    cursor: pointer;
    opacity: 0.6;
    &:hover {
        opacity: 1;
    }
}

@media (min-width: 576px) {
    .order_row {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        font-size: $fontsize_P1;
    }
    .order_row_title {
        margin: 10px 10px 10px 0 !important;
    }
    .detail_btn {
        padding: 10px 15px;
        font-size: $fontsize_P1;
    }
}
@media (min-width: 768px) {
    .order_row {
        font-size: $fontsize_H5;
        div {
            margin: 20px 0;
        }
    }
    .detail_btn {
        padding: 10px 25px;
        font-size: $fontsize_H5;
    }
}

// 已成團 詳情 頁面
.group_order_done_page {
    // display: none;
}
.group_order_done_groupname {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include H4;
    letter-spacing: 2px;
    color: $textColor;
    border-bottom: 1px solid rgb(107, 107, 107);
    padding-bottom: 10px;

    div:first-child {
        font-weight: bold;
        margin-right: 20px;
    }
    div:nth-child(2) {
    }
}

.group_order_done_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    font-size: $fontsize_H6;
    border-bottom: 2px solid rgb(184, 184, 184);
    padding: 20px 0;
}

.group_order_done_row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    div {
        // width: 100%;
        margin: 5px 0 5px 0;
    }

    div:first-child {
        color: $textColor;
        font-weight: bold;
        margin-right: 5%;
        flex-shrink: 0;
    }
    div:nth-child(2) {
        color: rgb(105, 105, 105);
    }
}

// .group_order_done_drinklist{
//   margin: 10px 0;
// }

// .group_order_done_person{
//   border-bottom: 2px solid rgb(192, 191, 191);
// }

// .group_order_done_person>div{
//   margin: 10px 0;
// }

// .group_order_done_person_upbox{
//   // display: flex;
//   // justify-content: space-between;
//   // align-items: center;
// }

// .group_order_done_person_infobox{
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.group_order_done_person_img {
    border: 1px solid $textColor;
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
    font-size: 0;
    margin-right: 20px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: none;
    }
}

// .group_order_done_person_name{
//   font-size: $fontsize_H6 ;
//   color: $textColor;
//   font-weight: bold;
// }

// .group_order_done_person_total{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-size: $fontsize_H6 ;
//   color: $textColor;
//   font-weight: bold;

//   div:first-child{
//     margin-right: 20px;
//   }
// }

// .group_order_done_person_drink{
//   background-color: rgb(206, 206, 206);
//   padding: 5px 2.5%;
//   margin: 10px 0;
//   font-size: $fontsize_P1;
//   letter-spacing: 2px;

//   div{
//     margin: 10px 0;
//   }
//   div:first-child{
//     font-weight: bold;
//   }
// }

.group_order_done_total_box {
    font-size: $fontsize_P1;
    letter-spacing: 2px;

    div {
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.group_order_done_dis {
    // border-bottom: 1px solid rgb(173, 173, 173);
}

.group_order_done_finaltotal {
    font-size: $fontsize_H3;
    color: $textColor;
    font-weight: bold;
    border-top: 2px solid $textColor;
}

.getitem_btn_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    opacity: 0.6;
    &:hover {
        opacity: 1;
    }
}

#getitem_btn {
    font-size: $fontsize_H4;
    background-color: $textColor;
    padding: 10px 15px;
    border-radius: 10px;
    overflow: hidden;
    color: #fff;
    line-height: 14px;
    font-weight: bold;
}
@media (min-width: 576px) {
    .group_order_done_row {
        width: 50%;
    }
    .group_order_done_groupname {
        font-size: $fontsize_H3;
    }
    .group_order_done_info {
        font-size: $fontsize_H5;
    }
    // .group_order_done_person_name,.group_order_done_person_total{
    //   font-size: $fontsize_H4;
}

// }

@media (min-width: 768px) {
    .group_order_done_row {
        width: 33.3%;
    }

    .group_order_done_total,
    .group_order_done_dis {
        font-size: $fontsize_H6;
    }
}

// 跟團紀錄
.follow_order_box {
    // display: none;
}

// 跟團中 詳情頁面

.follow_order_notyet_page {
    // display: none;
}

// 跟團成功 詳情頁面
.follow_order_done_page {
    display: none;
}
// 自己訂 | 訂單紀錄
.self_order_box {
    // display: none;
}
// 自己訂 | 訂單詳情 頁面
.self_order_page {
    // display: none;
}

// 優惠券 查看
.coupon_box {
    // display: none;
}

.coupon_list {
    margin: 40px 0;
    width: 100%;
}

.coupon_link {
    max-width: 200px;
    font-size: 0;
    display: block;
}

.empty {
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 1.2;
    color: #b3925b;
    margin-top: 30px;
}

@media (min-width: 576px) {
    .title_box {
        display: flex;
        justify-content: space-between;
        // align-items: center;
    }
}

.coupon_item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // align-items: center;
    // border-top: 1px solid black;
    margin: 20px 0;
}

.coupon_list {
    div:first-child {
        // border: 0;
    }
}

.coupon_item > div {
    margin: 10px 20px 10px 0;
}

.coupon_img {
    width: 80%;
    max-width: 300px;
    font-size: 0;
}

.coupon_info_row {
    display: flex;
    justify-content: flex-start;
    // align-items: center;
    width: 100%;
    font-size: $fontsize_H5;
    letter-spacing: 2px;

    div {
        margin: 5px 0;
        align-self: stretch;
    }

    div:first-child {
        width: 120px;
        // width: 40%;
        margin-right: 10px;
        color: $textColor;
        font-weight: bold;
    }
    div:nth-child(2) {
        color: rgb(172, 172, 172);
    }
}

@media (min-width: 576px) {
    .coupon_item {
        flex-direction: row;
        align-items: center;
    }
    .coupon_img {
        margin-right: 20px;
    }
}

@media (min-width: 768px) {
    .coupon_img {
        margin: 10px 60px 10px 0 !important;
    }
    .coupon_info_row {
        div:first-child {
            width: 120px;
            // width: 40%;
            margin-right: 30px;
        }
    }
}

// 單一會員飲料顯示  finished

// 每個人 買飲料
#order_list {
    // max-width: 575px;
    margin: 40px auto;
    max-width: 1200px;
    color: $textColor;

    .group_order_done_person {
        // border-bottom: 2px solid rgb(192, 191, 191);
        // width: 75%;
        margin: 0 auto;
        // border-top: 2px solid rgb(192, 191, 191);

        // @media screen and (max-width:992px) {
        //     width: 80%;
        // }

        // @media screen and (max-width:768px) {
        //     width: 85%;
        // }

        // @media screen and (max-width:576px) {
        //     width: 100%;
        // }

        &:last-child {
            border-bottom: 2px solid rgb(192, 191, 191);
        }

        & > div {
            margin: 15px 0 30px;
        }

        .group_order_done_person_upbox {
            display: flex;
            align-items: center;

            @media screen and (max-width: 576px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .group_order_done_person_img {
                width: 60px;
                font-size: 0;
                margin-right: 20px;

                @media screen and (max-width: 576px) {
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }

            .group_order_done_person_name {
                @include H6;
                font-weight: bold;

                @media screen and (min-width: 577px) {
                    @include H4;
                }
            }
        }

        .group_order_done_person_drink {
            background-color: rgba(255, 255, 255, 0.5);
            padding: 10px 2.5%;
            margin: 10px 0;
            @include H4;
            text-indent: 8px;
            position: relative;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 576px) {
                @include H5;
                letter-spacing: 2px;
                text-indent: 2px;
            }

            #drink_title_wrapper {
                flex-shrink: 0;
                width: 50%;
                min-width: 200px;

                @media screen and (max-width: 350px) {
                    min-width: 180px;
                }

                .group_order_done_person_drink_note {
                    @include H6;

                    @media screen and (max-width: 576px) {
                        font-size: 14px;
                        letter-spacing: 2px;
                        text-indent: 2px;
                    }
                }

                div {
                    margin: 10px 0;
                }

                div:first-child {
                    font-weight: bold;
                }
            }

            #num_btn {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 30%;

                // margin-left: 40%;
                @media screen and (max-width: 768px) {
                    width: 30%;
                }

                #num_feedback {
                    text-align: center;
                    text-indent: 4px;
                    letter-spacing: 4px;

                    @media screen and (max-width: 576px) {
                        letter-spacing: 1px;
                        text-indent: 1px;
                    }
                }

                span {
                    font-weight: bold;
                }

                @media screen and (max-width: 576px) {
                    align-items: flex-start;
                    justify-content: center;
                    margin: 10px 0;
                    letter-spacing: 1px;
                    // text-indent: 2px;
                }
            }

            #item_single_price {
                font-weight: medium;
                display: flex;
                justify-content: center;
                align-items: center;
                text-indent: 4px;
                letter-spacing: 4px;
                width: 10%;
                margin: 0 10px;

                @media screen and (max-width: 576px) {
                    align-items: flex-start;
                    margin: 10px;
                    letter-spacing: 1px;
                    // text-indent: 2px;
                }
            }
        }

        .group_order_done_person_total {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-color: $btnColor;
            color: white;
            @include H4;
            letter-spacing: 2px;
            font-weight: bold;
            border-radius: 5px;
            padding: 10px 0;

            @media screen and (max-width: 576px) {
                @include H5;
                letter-spacing: 0px;
                justify-content: space-around;
            }

            div {
                margin-right: 2.5%;

                @media screen and (max-width: 576px) {
                    margin-left: 2.5%;
                }
            }
        }
    }
}

// ----  發文紀錄  從分享區偷來全部sass  ----

// 第一區

.section_1 {
    color: $textColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s1_title {
    font-weight: bold;
    line-height: 1.5;
    @include H2;
}

.s1_text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 27px;
    line-height: 1.5;
    @include H4;
    letter-spacing: 2px;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        margin-right: 20px;
    }
}

// 第二區

// .section_2 {
//   // margin-top: 69px;
// }

.tag_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

// 第二區 - 標題
.s2_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $fontsize_H3;
    font-weight: bold;
    color: $textColor;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-bottom: 20px;

    img {
        margin-right: 20px;
    }
}

// 第二區 - 文章

.s2_hotitem_box {
    width: 100%;
    // margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.s2_hotitem {
    display: block;
    width: 350px;
    // height: 315px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 12.5px 12.5px 12.5px;
    text-decoration: none;
}

.hotimg {
    font-size: 0px;
    width: 100%;
    height: 233px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.hotinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 0 13px;
}

.memimg {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
    font-size: 0;

    img {
        max-width: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.hotright {
    width: calc(100% - 80px);
    padding: 11px 0px 20px 0px;
}

.texttime {
    display: flex;
    justify-content: flex-end;
    @include P3;
    font-size: 8px;
}

.hotdetail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.memname {
    @include H5;
    letter-spacing: 1px;
}

.hotcount {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 11px 0 16px 0;
}

.hotcount > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hotcount > div {
    margin: 0 0 0 8px;
}

.hot_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
}

.hot_num {
    font-size: $fontsize_P3;
    color: #000000;
}

.hot_text {
    @include P2;
}

// 第三區 篩選列表
.section_3 {
    // margin-top: 170px;
    margin: 50px 0 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    > div {
        margin: 10px 0;
    }
}

.show_article_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.show_img {
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show_text {
    @include H3;
    font-weight: bold;
    color: $textColor;
    letter-spacing: 2px;
    line-height: 1.5;
}

.filter_big_box {
    display: flex;
    justify-content: center;
    align-items: center;

    div:first-child {
        margin-right: 20px;
    }
}

.type_box,
.filter_box {
    display: flex;
    justify-content: center;
    align-items: center;

    label {
        margin-right: 5px;
        @include H4;
        color: $btnColor;
        font-weight: bold;
    }
}

.write_article_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: $textColor;
    border-radius: 8px;
    overflow: hidden;
    width: 116px;
    height: 36px;
}

.write_img {
    width: 23px;
    margin-right: 17px;
}

.write_text {
    letter-spacing: 2px;
    line-height: 1.5;
    font-weight: bold;
    color: #fff;
    font-size: $fontsize_H4;
}

//第四區 - 文章列表

.section_4 {
    margin-top: 51px;
}

.article_item {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 25px;
}

.article_img {
    font-size: 0;
    width: 30%;
    flex-shrink: 0;
    min-width: 396px;

    @media screen and (min-width: 993px) {
        height: 269px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        @media screen and (min-width: 993px) {
            width: 100%;
            max-width: none;
            height: 100%;
            object-fit: cover;
        }

        @media screen and (max-width: 992px) {
            // height: auto;
            width: 100%;
        }
    }
}

.article_right {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    // width: calc(1200px - 396px);
    width: 100%;
    padding: 10px 25px;
    background-color: #fff;
    flex-shrink: 1;

    @media (max-width: 1200px) {
        // height: auto;
        padding: 5px 10px 5px 10px;
    }
}

.article_info {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;

    @media (max-width: 1200px) {
        margin: 4px 0;
    }
}

.article_info_left {
    display: flex;
    justify-content: center;
    align-items: center;
    @include P1;
}

.article_memimg {
    width: 76px;
    height: 76px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 0;
    margin-right: 35px;

    img {
        max-width: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.article_memname {
    font-size: $fontsize_H3;
    color: $textColor;
}

.article_time {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include P3;

    margin: 5px 0;

    @media (max-width: 1200px) {
        margin: 2px 0;
    }
}

.article_detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;

    @media (max-width: 1200px) {
        margin: 4px 0;
    }
}

.article_title {
    font-size: $fontsize_H5;
    font-weight: bold;
    color: $textColor;
    letter-spacing: 2px;
    line-height: 1.5;
}

.article_count {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 5px 0;
    @include P1;

    @media (max-width: 1200px) {
        margin: 4px 0;
    }

    > div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
}

.article_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    flex-shrink: 0;
}

.article_num {
    @include P3;
    letter-spacing: 0px;
}

.article_text {
    font-size: $fontsize_P1;
    color: rgba($color: #000000, $alpha: 0.6);
    letter-spacing: 2px;
    line-height: 1.5;
    margin: 5px 0;

    @media (max-width: 1200px) {
        margin: 4px 0;
    }
}

.like_btn {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include H6;
    color: $textColor;

    > div {
        display: flex;
        cursor: pointer;
        align-items: center;

        img {
            width: 21px;
            height: 19px;
        }
    }

    #art_report {
        @include H6;
        margin-left: 20px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 1px;
            height: 22px;
            background-color: black;
            left: 0;
            transform: translateX(-11px);
        }
    }
}

.like_img {
    font-size: 0;
    margin-right: 10px;
}

@media (max-width: 992px) {
    main {
        width: 70%;
    }

    .article_item {
        flex-direction: column;
    }

    .article_img {
        width: 100%;
    }

    .article_right {
        order: 0;
        padding: 10px 20px;
    }

    .article_count {
        margin: 2.5px 0;
    }
}

@media (max-width: 768px) {
    main {
        width: 80%;
    }
}

@media (max-width: 576px) {
    main {
        width: 95%;
    }
}

//第五區 分頁

.section_5 {
    margin: 20px auto;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        #leftRow {
            transform: rotateY(180deg);
        }

        li {
            border-radius: 50%;
            width: 24px;
        }

        * {
            margin: 0 7px;
            cursor: pointer;
            font-size: $fontsize_H3;
            color: $textColor;
            opacity: 0.6;

            text-align: center;
        }

        *:hover {
            opacity: 1;
        }

        .active {
            background-color: $btnColor;
            color: white;
        }
    }
}

// 第六區 -- 文章詳情

.article_box {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 20px 0;
    display: flex;
    // display: none;
    justify-content: center;
    align-items: center;

    .section_6 {
        max-height: 90vh;
        width: 90%;
        max-width: 900px;
        overflow: hidden;
        background-color: #fff;
        overflow-y: auto;

        //  第六區 -- 大圖片
        .article_img_big {
            position: relative;
            margin: 0 auto;
            font-size: 0;
            width: 100%;

            > img {
                width: 100%;
                max-width: none;
            }

            #close_btn {
                position: absolute;
                top: 0;
                right: 0;
                margin: 20px;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                font-size: 0;
                cursor: pointer;
                z-index: 3;

                &::before {
                    content: '';
                    z-index: -1;
                    background-color: white;
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                }
            }
        }

        .article_down {
            width: 90%;
            max-width: 750px;
            margin: 0 auto 20px auto;
            padding: 52px 0;

            @media screen and (max-width: 768px) {
                padding: 26px;
            }

            @media screen and (max-width: 576px) {
                padding: 10px;
            }

            .article_info_left {
                .article_memimg {
                    width: 76px;
                    height: 76px;
                    margin-right: 15px;

                    @media screen and (max-width: 576px) {
                        width: 76px;
                        height: 76px;
                    }
                }

                .article_memname {
                    font-size: 21px;
                }
            }

            .article_title {
                font-size: 21px;
            }

            .article_text {
                font-size: 16px;
            }
        }
    }
}

//  第六區 -- 留言

.mseeage_box {
    margin: 0 auto 50px auto;
    width: 90%;
    max-width: 750px;
}

.msg_mem {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 30px;
    margin-bottom: 15px;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

.msg_mem > div {
    margin: 5px 0;
}

.msg_text_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    // width: 80%;
}

.msg_memimg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    font-size: 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: none;
    }
}

.msg_memname {
    @include H5;
    font-weight: bold;
}

.msg_memmsg {
    @include H6;
}

.msg_info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px !important;
}

.msg_time {
    //  text-align: center;
    position: absolute;
    transform: translateX(-30px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 0;
    @include P2;
    color: rgba($color: #000000, $alpha: 0.5);

    @media screen and (max-width: 768px) {
        transform: translateX(-15px);
    }

    @media screen and (max-width: 576px) {
        position: relative;
        transform: translateX(0px);
    }
}

.msg_action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include P1;
    color: $textColor;

    .msg_report {
        opacity: 0.6;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }
}

@media (max-width: 768px) {
    .msg_mem {
        padding: 10px 15px;
    }

    .msg_memname {
        letter-spacing: 2px;
        font-size: 16px;
    }
}

//  第六區 -- 發表留言

.comment_box {
    position: relative;
    width: 85%;
    max-width: 750px;
    margin: 0 auto;
}

.comment_title_box {
    display: flex;
    // justify-content: center;
    align-items: center;
}

.pen_img {
    margin-right: 5px;
}

.comment_title {
    @include H3;
    font-weight: bold;
    color: $textColor;
}

#comment {
    // width: 100%;
    // height: 200px;
    margin: 20px 0 100px 0;

    &:focus {
        border: 1.9px solid black;
    }
}

#msg_hint {
    font-size: 16px;
    color: $textColor;
    font-weight: bold;
    position: absolute;
    left: 0;
    bottom: 76px;

    @media (max-width: 768px) {
        left: 50%;
        transform: translateX(-50%);
    }
}

.sendbtn {
    // position: relative;
    position: absolute;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 25px;
    right: 0;
    // left: 0;
    background-color: $textColor;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
}

.sendbtn_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.sendbtn_text {
    @include H3;
    color: #fff;
}

@media (max-width: 768px) {
    .sendbtn {
        right: 50%;
        bottom: 20px;
        transform: translate(50%, 0);
    }
}

@media (max-width: 576px) {
    .article_memimg {
        margin-right: 20px;
    }
}

// 第七區 -- 發表文章

.new_article {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 99;
}

.section_7 {
    height: 90vh;
    width: 90%;
    overflow-y: auto;
    position: relative;
    // display: none;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%,-50%);
    max-width: 900px;
    // border-radius: 15px;
    // overflow: hidden;
    background-color: #fff;
    // padding-top: 30px;
}

.close_img {
    width: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.sendimg_box {
    width: 90%;
    max-width: 900px;
    margin: 10px auto;
    font-size: 0;

    img {
        max-width: none;
        width: 100%;
    }
}

.publish {
    text-align: center;
    @include H2;
    font-weight: bold;
    margin: 20px 0;
}

.sendimgbtn_box {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px auto;
}

@media (max-width: 375px) {
    .sendimgbtn_box > select {
        order: 1;

        option {
            text-align: center;
        }
    }
}

.sendimgbtn_box > select,
.sendimgbtn_box > div {
    margin-bottom: 20px;
}

.sendimgbtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $textColor;
    color: #fff;
    width: 160;
    height: 46px;
    padding: 5px 20px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;

    #upfile {
        display: none;
    }

    &:nth-child(2) {
        @include H3;
        letter-spacing: 2px;
    }
}

.image_img {
    width: 36px;
    height: 27px;
    font-size: 0;
    margin-right: 10px;
}

.set_title {
    display: block;
    width: 90%;
    height: 40px;
    margin: 10px auto;
    background-color: #dbdbdb;
    border: 1.5px solid black;
    padding: 0 15px;
    font-size: 16px;
}

.set_con {
    display: block;
    width: 90%;
    height: 200px;
    background-color: #dbdbdb;
    margin: 10px auto;
    font-size: 16px;
    padding: 15px;
    border: 1.5px solid black;
}

.sendform_btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    margin: 0 auto 20px auto;
}

@media (max-width: 567px) {
    .sendform_btn {
        justify-content: center;
    }
}

.sendformbtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $textColor;
    color: #fff;
    width: 160;
    height: 46px;
    padding: 5px 20px;
    border-radius: 15px;
    overflow: hidden;
    outline: none;
    cursor: pointer;

    &:nth-child(2) {
        @include H3;
        letter-spacing: 2px;
    }
}
