@import "base/base.scss";
@import "mixins/mixins.scss";
@import "mixins/button.scss";

body {
    background-color: $insideBackgroundColor;
}

.main {
    width: 80%;
    margin: 0 auto;
}

// ====進度bar=====

// 尺寸、對齊方式
.step_box {
    width: 60%;
    height: 135px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 30px;

    .step_ball {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
}

// 球尺寸、顏色、icon、字型
.step_box .step_ball>li {
    @include step_ball_size;
    border-radius: 50%;
    background-color: #EFE7DA;
    position: relative;

    // 定位進度球內img置中
    & img {
        position: absolute;
        transform: translate(50%, -50%);
        top: 50%;
        right: 50%;
    }

    // 定位下方步驟文字
    & h5 {
        @include H5;
        color: $btnColor;
        letter-spacing: 0px;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 120%;
    }
}

// 偽元素:進度條及變色方式

.step_box .step_ball>li {
    &:first-child {
        background-color: $btnColor;
    }

    &::before {
        content: "";
        position: absolute;
        width: 400%;
        height: 5px;
        background-color: #EFE7DA;
        left: 50px;
        top: 50%;
        z-index: -1;
    }

    &:last-child::before {
        display: none;
    }
}

// ====進度bar結束=====

//1.當前進度-步驟一

// .step_box .step_ball li:first-child{
//     font-weight: bold;
// }

// 2.當前進度-步驟二

.step_ball>li:nth-child(2) {
    background-color: $btnColor;
}

.step_ball>li:nth-child(1)::before {
    background-color: $btnColor;
}

.step_box .step_ball li:nth-child(2) {
    font-weight: bold;
}

// 3.當前進度-步驟三

// .step_ball>li:nth-child(2) , .step_ball>li:nth-child(3){
//     background-color: $btnColor;
// }

// .step_ball>li:nth-child(1)::before , .step_ball>li:nth-child(2)::before{
//     background-color: $btnColor;
// }

// .step_box .step_ball li:nth-child(3){
//     font-weight: bold;
// }

//  RWD

@media (min-width: 576px) and (max-width: 991px) {
    .step_box {
        height: 115px;
    }

    .step_box .step_ball>li {
        @include step_ball_size_medium;
    }

    .step_box .step_ball>li>h5 {
        @include H6;
        letter-spacing: 0px;
    }
}

@media (max-width: 575px) {
    .step_box {
        width: 70%;
        height: 90px;
    }

    .step_box .step_ball>li {
        @include step_ball_size_small;
    }

    .step_box .step_ball>li>h5 {
        @include P2;
        letter-spacing: 0px;
    }

    .step_box .step_ball>li>img {
        width: 40%;
    }
}

// 個人訂購資訊
.userinfo {
    width: 90%;
    display: flex;
    justify-content: center;
    color: #707070;
    margin: 55px auto;
}

// .userpic {
//     max-width: 120px;
//     overflow: hidden;
//     margin-right: 50px;
// }

.memimg {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-right: 50px;

     img{
       max-width: none;
     width: 100%;
    height: 100%;
    
    object-fit: cover;
}
}

.user {
    width: 70%;
    color: #707070;
    @include H5;
}

.username {
    margin-bottom: 20px;
    font-weight: bold;
}

.userphone,
.useradd,
.usermsg {
    width: 100%;
    display: flex;
    align-self: center;
    align-items: center;
    margin-top: 15px;

    div {
        display: flex;
    }
}

.userphonetop,
.useraddtop,
.usermsgtop {
    width: 40%;

    img {
        margin-right: 20px;
    }

    div {
        align-self: center;
    }
}

.userphonebottom,
.useraddbottom,
.usermsgbottom {
    width: 60%;
}

@media screen and(max-width:800px) {
    .userinfo {
        display: block;
        width: 100%;
    }

    // .userpic {
    //     width: 30%;
    //     margin: 0 auto;
    // }

    .memimg{
        margin:0 auto;
    }
    .user {
        width: 100%;
    }

    .username {
        text-align: center;
        margin-top: 10px;
    }

    .userphonetop,
    .useraddtop,
    .usermsgtop {
        img {
            margin-right: 15px;
        }
    }
}

@media screen and(max-width:576px) {
    .user {
        @include P1;
    }

    .username {
        @include H6;
    }

    .userphonetop,
    .useraddtop,
    .usermsgtop {
        img {
            margin-right: 10px;
        }
    }
}

@media screen and(max-width:376px) {

    .userphone,
    .useradd,
    .usermsg {
        display: block;
    }

    .userphonetop,
    .useraddtop,
    .usermsgtop,
    .userphonebottom,
    .useraddbottom,
    .usermsgbottom {
        width: 100%;
        margin-top: 10px;
    }
}

// 折扣區
.discount {
    width: 90%;
    margin: 50px auto;
    color: #707070;
    border-top: 1px solid #707070;
}

.discounttop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    @include H4;
}

.discountbottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    @include H4;
}

.discountno {
    display: flex;
    width: 70%;
    align-items: center;

    span {
        margin-right: 10px;
        @include H4;
    }
}

.gamelink {
    width: 30%;
    max-width: 236px;
}

@media screen and(max-width:880px) {
    .discounttop {
        display: block;
        @include H5;
    }

    .discountno,
    .gamelink {
        width: 100%;
    }

    .discountno {
        @include H5;
        margin-bottom: 20px;
    }

    .discountbottom {
        @include H5;
    }
}

@media screen and(max-width:576px) {
    .discounttop {
        @include H6;
    }

    .discountno {
        width: 100%;
        @include P1;

        span {
            margin-right: 5px;
            margin-left: 5px;
        }
    }

    .gamelink {
        width: 100%;
    }
}

@media screen and(max-width:376px) {
    .discountno {
        display: block;

    }

    .discountno,
    .gamelink {
        margin: 10px auto;
    }

    .discountno {
        div {
            margin-top: 10px;
        }
    }
}

// 信用卡
.creditcard {
    width: 90%;
    margin: 50px auto;
    @include H4;
    color: $textColor;
    border-bottom: 1px solid #707070;
}

.cardimg {
    width: 100%;
    text-align: center;
    margin: 50px 0px;
}

.cardname,
.cardno,
.cardexp,
.cardsafeno {
    width: 100%;
    display: flex;

    div {
        margin-top: 10px;
        margin-bottom: 10px;
        align-self: center;

        &:first-child {
            width: 40%;
        }

        &:last-child {
            width: 60%;
        }
    }
}

.cardno {
    div {
        &:last-child {
            display: flex;
            justify-content: space-between;
        }
    }
}

.cardsafeno {
    div {
        &:last-child {
            display: flex;
        }
    }
}

@media screen and(max-width:810px){
    .cardname,
    .cardno,
    .cardexp,
    .cardsafeno {
         display: block;
         div {
            margin-top: 10px;
            margin-bottom: 10px;
            align-self: center;
    
            &:first-child {
                width: 100%;
            }
    
            &:last-child {
                width: 100%;
            }
        }
}
}
       
@media screen and(max-width:576px) {
    .creditcard {
        @include H5;
    }

    .safeimg {
        max-height: 30px;
    }
}

@media screen and(max-width:400px) {
    .creditcard {
        @include H6;
    }

    // .cardname,
    // .cardno,
    // .cardexp,
    // .cardsafeno {
    //     div {
    //         &:first-child {
    //             width: 45%;
    //         }

    //         &:last-child {
    //             width: 55%;
    //         }
    //     }
    // }
}

// 應付金額
.money {
    width: 80%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;

    div {
        font-size: $fontsize_H3;
        font-weight: bold;
        color: $textColor;
    }
}

@media screen and(max-width:768px) {
    div {
        font-size: $fontsize_H4;
    }
}

@media screen and(max-width:576px) {
    .money {
        margin: 50px auto;
    }
}

@media screen and(max-width:376px) {
    .money {
        div {
            font-size: $fontsize_P1;
        }
    }
}

@media screen and(max-width:326px) {
    .money {
        div {
            font-size: $fontsize_H6;
        }
    }
}

.line {
    width: 60%;

    hr {
        border: none;
        border-bottom: 1px dashed #383232;
    }
}

@media screen and(max-width:576px) {
    .line {
        width: 40%;
    }
}

// 按鈕
.bottombutton {
    width: 50%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;

    .back,
    .go {
        @include list_button;
        border: none;
        color: #fff;
        cursor: pointer;
    }
}

@media screen and(max-width:576px) {
    .bottombutton {
        width: 80%;
    }
}

@media screen and(max-width:376px) {
    .bottombutton {

        .back,
        .go {
            @include list_button_small;
        }
    }
}

@media screen and(max-width:326px) {
    .bottombutton {
        width: 100%;
    }
}

// 結帳金額
.finaltotal{
    width:90%;
    margin:0 auto;
}

.group_order_done_total_box{
    font-size: $fontsize_P1;
    letter-spacing: 2px;
  
    div{
      margin: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .group_order_done_dis{
    border-bottom: 1px solid rgb(173, 173, 173);
  }
  
  .group_order_done_finaltotal{
    font-size: $fontsize_H3;
    color: $textColor;
    font-weight: bold;
    border-top: 2px solid $textColor;
  }
  
  //RWD 字體改變大小
  
  @media(min-width:576px){
    .group_order_done_row{
      width: 50%;
    }
    .group_order_done_groupname{
      font-size: $fontsize_H3;
    }
    .group_order_done_info{
      font-size: $fontsize_H5;
    }
    .group_order_done_person_name,.group_order_done_person_total{
      font-size: $fontsize_H4;
    }
  
  }
  
  @media(min-width:768px){
    .group_order_done_row{
      width: 33.3%;
    }
    .group_order_done_person_drink,
    .group_order_done_total,
    .group_order_done_dis{
      font-size: $fontsize_H6;
    }
  }

// 燈箱
.orderModal {
    position: fixed;
    top: 0;
    left: 0;
    // opacity: 0;
    z-index: 99;
    transition: opacity 1s;
    background-color: hsla(0, 2%, 25%, .5);
    width: 100%;
    height: 100%;
}

.modalContent {
    height: 90vh;
    width: 90%;
    max-width: 600px;
    // margin: 2% auto;
    // border-radius: 10px;
    // background-color: #fff;
    // box-shadow: 0 0 5px #ddd;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px #ddd;
}

// .orderModal.-on {
//     opacity: 1;
//     z-index: 999;
// }

// .orderModal.-opacity-zero {
//     opacity: 0;
// }

.close {
    position: absolute;
    top: 5px;
    right: 5px;

    &:hover {
        cursor: pointer;
    }
}

.Top {
    display: flex;
    position: relative;
    justify-content: center;

    h5 {
        // @include H5;
        // margin-top: 20px;
        font-size: $fontsize_H4;
        letter-spacing: 5px;
        margin-top: 20px;
        color: $textColor;
        font-weight: bold;
    }
}

.orderList {
    width: 100%;
    height: 80vh;
    margin: auto;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 10px;
        background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $textColor;
        border-radius: 10px;
        height: 10px;
    }

    &::-webkit-scrollbar-track {
        margin-left: 10px;
        border-radius: 10px;
    }
}

.listInfo {
    width: 90%;
    margin: 0 auto;
}

// 每個人 買飲料
.Modal_group_order_done_drinklist {
    margin: 10px 0;
}

.Modal_group_order_done_person {
    border-bottom: 2px solid rgb(192, 191, 191);
}

.Modal_group_order_done_person>div {
    margin: 10px 0;
}

.Modal_group_order_done_person_upbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Modal_group_order_done_person_infobox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Modal_group_order_done_person_img {
    // width: 60px;
    // font-size: 0;
    // margin-right: 20px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    margin-right: 20px;
    border-radius: 50%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: none;
    }
}

.Modal_group_order_done_person_name {
    font-size: $fontsize_H6;
    color: $textColor;
    font-weight: bold;
}

.Modal_group_order_done_person_total {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $fontsize_H6;
    color: $textColor;
    font-weight: bold;

    div:first-child {
        margin-right: 20px;
    }
}

.Modal_group_order_done_person_drink {
    background-color: rgb(206, 206, 206);
    padding: 5px 2.5%;
    margin: 10px 0;
    font-size: $fontsize_P1;
    letter-spacing: 2px;

    div {
        margin: 10px 0;
    }

    div:first-child {
        font-weight: bold;
    }
}

//燈箱 購買列表
//RWD 字體改變大小

@media(min-width:576px) {

    .Modal_group_order_done_person_name,
    .Modal_group_order_done_person_total {
        font-size: $fontsize_H4;
    }
}

@media(min-width:768px) {
    .Modal_group_order_done_row {
        width: 33.3%;
    }

    .Modal_group_order_done_person_drink,
    .Modal_group_order_done_total,
    .Modal_group_order_done_dis {
        font-size: $fontsize_H6;
    }
}

// 燈箱購買資訊

.modalinfo {
    width: 90%;
    margin: 35px auto;
    @include H6;
    color: #707070;
}

.modalcard,
.modaladd,
.modaldis,
.modalcount {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;

    div {
        &:first-child {
            width: 40%;
        }

        &:last-child {
            width: 60%;
        }
    }
}

.modalcount {
    div {
        &:last-child {
            text-align: right;
        }
    }
}

@media screen and(max-width:768px) {
    .modalinfo {
        @include P1;
    }
}

@media screen and(max-width:400px) {
    .modalinfo {
        width: 90%;
    }

    .modalcard,
    .modaladd,
    .modaldis {
        display: block;

        div {
            margin-top: 5px;

            &:first-child {
                width: 100%;
            }

            &:last-child {
                width: 100%;
            }
        }
    }
}

// 應付金額
.modalmoney {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;

    div {
        font-size: $fontsize_H4;
        font-weight: bold;
        color: $textColor;
    }
}

.modalline {
    width: 60%;

    hr {
        border: none;
        border-bottom: 1px dashed #383232;
    }
}

@media screen and(max-width:577px) {
    .modalmoney {
        div {
            font-size: $fontsize_H6;
        }
    }
}

@media screen and(max-width:375px) {
    .modalline {
        width: 40%;
    }
}

// 按鈕

.modalbtn {
    text-align: center;
    margin-bottom: 20px;

    input {
        background-color: $textColor;
        color: #fff;
        width: 120px;
        height: 40px;
        @include P1;
        border-style: none;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
        }
    }

}


// 應付金額
.money{
    width:90%;
    margin:100px auto;
    display: flex;
    justify-content: space-between;
    div{
        font-size: $fontsize_H3;
        font-weight: bold;
        color:$textColor;
    }
}

@media screen and(max-width:768px) {
    div{
        font-size: $fontsize_H4;
    } 
}
@media screen and(max-width:576px) {
    .money{
        margin:50px auto;
    }
}

@media screen and(max-width:376px) {
    .money{
        div{
            font-size: $fontsize_H4;
        }
    }
}
.line{
    width:60%;
    hr{
        border: none;
        border-bottom: 1px dashed #383232;
    }
}
@media screen and(max-width:576px) {
    .line{
        width:40%;
    }
}