@import "base/base.scss";
@import "mixins/mixins.scss";
@import "mixins/button.scss";

body{
    background-color: $insideBackgroundColor;
}
.main{
    width:80%;
    margin:0 auto;
}

.user input,.creditcard input{
    color:$textColor!important;
}

// ====進度bar=====

// 尺寸、對齊方式
.step_box {
    width: 60%;
    height: 135px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 30px;
    .step_ball{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
}

// 球尺寸、顏色、icon、字型
.step_box .step_ball >li{   
    @include step_ball_size;
    border-radius: 50%;
    background-color: #EFE7DA;
    position: relative;

            // 定位進度球內img置中
            & img{
                position: absolute;
                transform: translate(50%,-50%);
                top: 50%;
                right: 50%;
            }

        // 定位下方步驟文字
            & h5{
                @include H5;
                color: $btnColor;
                letter-spacing: 0px;
                position: absolute;
                width: 100%;
                text-align: center;
                top: 120%;
            }
}

// 偽元素:進度條及變色方式

.step_box .step_ball >li{
    &:first-child{
        background-color: $btnColor;
    }
    &::before{
        content: "";
        position: absolute;
        width: 400%;
        height: 5px;
        background-color: #EFE7DA;
        left: 50px;
        top: 50%;
        z-index: -1;
    }
    &:last-child::before{
        display: none;
    }
}

// ====進度bar結束=====

//1.當前進度-步驟一

// .step_box .step_ball li:first-child{
//     font-weight: bold;
// }

// 2.當前進度-步驟二

.step_ball>li:nth-child(2){
    background-color: $btnColor;
}

.step_ball>li:nth-child(1)::before{
    background-color: $btnColor;
}

.step_box .step_ball li:nth-child(2){
    font-weight: bold;
}

// 3.當前進度-步驟三

// .step_ball>li:nth-child(2) , .step_ball>li:nth-child(3){
//     background-color: $btnColor;
// }

// .step_ball>li:nth-child(1)::before , .step_ball>li:nth-child(2)::before{
//     background-color: $btnColor;
// }

// .step_box .step_ball li:nth-child(3){
//     font-weight: bold;
// }

//  RWD

@media (min-width: 576px) and (max-width: 991px){
    .step_box{
        height: 115px;
    }
    .step_box .step_ball >li{
        @include step_ball_size_medium;
    }
    .step_box .step_ball >li>h5{
        @include H6;
        letter-spacing: 0px;
    }
}

@media (max-width: 575px){
    .step_box{
        width: 70%;
        height: 90px;
    }
    .step_box .step_ball >li{
        @include step_ball_size_small;
    }
    .step_box .step_ball >li>h5{
        @include P2;
        letter-spacing: 0px;
    }
    .step_box .step_ball >li>img{
        width: 40%;
    }
}

// 個人訂購資訊
.userinfo{
    width:90%;
    display:flex;
    justify-content: center;
    color:#707070;
    font-weight: bold;
    margin:55px auto;
}
.userpic{
    max-width: 120px;
    overflow: hidden;
    margin-right: 50px;
}
.user{
    width:70%;
    color:#707070;
    @include H5;
}
.username{
    margin-bottom: 20px;
}

.userphone,.useradd,.usermsg{
    width:100%;
    display: flex;
    align-self: center;
    align-items: center;
    margin-top: 10px;
    div{
        display: flex;
        input{
            @include input_style;
        }
    }
}

.userphonetop,.useraddtop,.usermsgtop{
    width:40%;
    img{
        margin-right: 20px;
    }
    div{
        align-self: center;
    }
}
.userphonebottom,.useraddbottom,.usermsgbottom{
    width:60%;
}

@media screen and(max-width:800px) {
    .userinfo{
        display: block;
        width:100%;
    }
    .userpic{
        width:30%;
        margin:0 auto;
    }
    .user{
        width:100%;
    }
    .username{
        text-align: center;
        margin-top: 10px;
    }
    .userphonetop,.useraddtop,.usermsgtop{
        img{
            margin-right: 15px;
        }
    }
}

@media screen and(max-width:576px) {
    .user{
        @include P1;
    }
    .username{
        @include H6;
    }
    .userphonetop,.useraddtop,.usermsgtop{
        img{
            margin-right: 10px;
        }
    }
}
@media screen and(max-width:376px) {
    .userphone,.useradd,.usermsg{
        display: block;       
    }
    .userphonetop,.useraddtop,.usermsgtop,
    .userphonebottom,.useraddbottom,.usermsgbottom{
        width:100%;
        margin-top: 5px;
    }
}

// 折扣區
.discount{
    width:90%;
    margin:50px auto;
    color:#707070;
    border-top: 1px solid #707070;
}
.discounttop{
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-top:50px;
    margin-bottom: 50px;
    @include H4;
}
.discountbottom{
    width:100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    @include H3;
}
.discountno{
    display: flex;
    width:70%;
    align-items: center;
}
select{
    @include H4;
    color:#707070;
    width:50%;
    height:50px;
    border-radius: 10px;
    margin-left: 50px;
    padding-left: 20px;
}
.gamelink{
    width:30%;
    max-width:236px;
}
@media screen and(max-width:880px) {
    .discounttop{
        display: block;
        @include H5;
    }
    .discountno,.gamelink{
        width:100%;
    }
    .discountno{
        justify-content: space-between;
    }
    select{
        margin:20px 0px;
        width:70%;
        @include H5;
    }
    .discountbottom{
        @include H5;
    }
}
@media screen and(max-width:576px) {
    .discounttop{
        @include H6;
    }
    .discountno,.gamelink{
        width:100%;
    }
    select{
        width:65%;
        @include H6;
    }
}

@media screen and(max-width:376px) {
    .discountno{
        display: block;
        @include H6;
    }
    .discountno,.gamelink{
        margin:0 auto;
    }
    select{
        width:100%;
    }
}

// 信用卡
.creditcard{
    width:90%;
    margin:50px auto;
    @include H4;
    color:$textColor;
    border-bottom:1px solid #707070;
    input{
        height: 50px;
        @include input_style;
    }
}
.cardimg{
    width:100%;
    text-align: center;
    margin:50px 0px;
}

.cardname,.cardno,.cardexp,.cardsafeno{
    width:100%;
    display: flex;
    div{
        margin-top:10px;
        margin-bottom:10px;
        align-self: center;
        &:first-child{
            width:40%;
        }
        &:last-child{
            width:60%;
        }
    }
}

.cardname{
    input{
        width:100%;
    }
}
.cardno{
    div{
        &:last-child{
            display:flex;
            justify-content: space-between;
        }
    }
    input{
        width:22%;
    }
}
.cardexp{
    input{
        width:15%;
        margin-right: 13px;
    }
}
.cardsafeno{
    div{
        &:last-child{
            display: flex;
        }
    }
    input{
        width:55%;   
    }
}

@media screen and(max-width:576px) {
    .creditcard{
        @include H5;
        input{
            height: 25px;
        }
    }
    .safeimg{
        max-height: 30px;
    }
}

@media screen and(max-width:400px) {
    .creditcard{
        @include H6;
    }
    .cardname,.cardno,.cardexp,.cardsafeno{
        div{
            &:first-child{
                width:45%;
            }
            &:last-child{
                width:55%;
            }
        }
    }
}

// 應付金額
.money{
    width:80%;
    margin:100px auto;
    display: flex;
    justify-content: space-between;
    div{
        font-size: $fontsize_H3;
        font-weight: bold;
        color:$textColor;
    }
}

@media screen and(max-width:768px) {
    div{
        font-size: $fontsize_H4;
    } 
}
@media screen and(max-width:576px) {
    .money{
        margin:50px auto;
    }
}

@media screen and(max-width:376px) {
    .money{
        div{
            font-size: $fontsize_P1;
        }
    }
}
@media screen and(max-width:326px) {
    .money{
         div{
            font-size: $fontsize_H6;
        }
    }
}

.line{
    width:60%;
    hr{
        border: none;
        border-bottom: 1px dashed #383232;
    }
}
@media screen and(max-width:576px) {
    .line{
        width:40%;
    }
}

// 按鈕
.bottombutton{
    width:50%;
    margin:50px auto;
    display: flex;
    justify-content: space-between;
    .back,.go{
        @include list_button;
        border: none;
        color:#fff;
        cursor: pointer;
    }
}
    
@media screen and(max-width:576px) {
    .bottombutton{
        width:80%;
    }    
}

@media screen and(max-width:376px) {
    .bottombutton{
        .back,.go{
        @include list_button_small;
        }
    }    
}

@media screen and(max-width:326px){
    .bottombutton{
        width:100%;
    }    
}
    