@import "base/base.scss";
@import "mixins/mixins.scss";
@import "mixins/button.scss";

body{
    background-color: $insideBackgroundColor;
}
.main{
    width:80%;
    margin:0 auto;
}

// ====進度bar=====

// 尺寸、對齊方式
.step_box {
    width: 60%;
    height: 135px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 30px;
    .step_ball{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
}

// 球尺寸、顏色、icon、字型
.step_box .step_ball >li{   
    @include step_ball_size;
    border-radius: 50%;
    background-color: #EFE7DA;
    position: relative;

            // 定位進度球內img置中
            & img{
                position: absolute;
                transform: translate(50%,-50%);
                top: 50%;
                right: 50%;
            }

        // 定位下方步驟文字
            & h5{
                @include H5;
                color: $btnColor;
                letter-spacing: 0px;
                position: absolute;
                width: 100%;
                text-align: center;
                top: 120%;
            }
}

// 偽元素:進度條及變色方式

.step_box .step_ball >li{
    &:first-child{
        background-color: $btnColor;
    }
    &::before{
        content: "";
        position: absolute;
        width: 400%;
        height: 5px;
        background-color: #EFE7DA;
        left: 50px;
        top: 50%;
        z-index: -1;
    }
    &:last-child::before{
        display: none;
    }
}

// ====進度bar結束=====

//1.當前進度-步驟一

// .step_box .step_ball li:first-child{
//     font-weight: bold;
// }

// 2.當前進度-步驟二

// .step_ball>li:nth-child(2){
//     background-color: $btnColor;
// }

// .step_ball>li:nth-child(1)::before{
//     background-color: $btnColor;
// }

// .step_box .step_ball li:nth-child(2){
//     font-weight: bold;
// }

// 3.當前進度-步驟三

.step_ball>li:nth-child(2) , .step_ball>li:nth-child(3){
    background-color: $btnColor;
}

.step_ball>li:nth-child(1)::before , .step_ball>li:nth-child(2)::before{
    background-color: $btnColor;
}

.step_box .step_ball li:nth-child(3){
    font-weight: bold;
}

//  RWD

@media (min-width: 576px) and (max-width: 991px){
    .step_box{
        height: 115px;
    }
    .step_box .step_ball >li{
        @include step_ball_size_medium;
    }
    .step_box .step_ball >li>h5{
        @include H6;
        letter-spacing: 0px;
    }
}

@media (max-width: 575px){
    .step_box{
        width: 70%;
        height: 90px;
    }
    .step_box .step_ball >li{
        @include step_ball_size_small;
    }
    .step_box .step_ball >li>h5{
        @include P2;
        letter-spacing: 0px;
    }
    .step_box .step_ball >li>img{
        width: 40%;
    }
}

// 訂單狀態
.status{
    width:100%;
    margin-top: 50px;
    margin-bottom: 50px;
    @include H4;
    color:$textColor;
    font-weight: bold;
    border-bottom: 1px solid #707070;
    div{
        display:flex;
        width:70%;
        justify-content: center;
        align-items: center;
        margin:10px auto;
    }

}
.ready{
    background-color: $textColor;
    color:#fff!important;
    border-radius: 5px;
    padding:13px 13px 13px 18px;
    display: flex;
    align-items: center;
    text-align: center;
}
@media screen and(max-width:800px) {
    .status{
        @include H5;
    }
}
@media screen and(max-width:576px) {
    .status{
        @include H6;
    }
}

@media screen and(max-width:480px) {
    .status{
        @include P1;
    }
}

// 個人訂購資訊
.userinfo{
    width:90%;
    display:flex;
    justify-content: center;
    color:#707070;
    margin:55px auto;
}
.userpic{
    max-width: 120px;
    overflow: hidden;
    margin-right: 50px;
}
.user{
    width:70%;
    @include H5;
}
.username{
    margin-bottom: 20px;
    font-weight: bold;
}

.userphone,.useradd,.usermsg{
    width:100%;
    display: flex;
    align-self: center;
    align-items: center;
    margin-top: 15px;
    div{
        display: flex;
    }
}

.userphonetop,.useraddtop,.usermsgtop{
    width:40%;
    img{
        margin-right: 20px;
    }
    div{
        align-self: center;
    }
}
.userphonebottom,.useraddbottom,.usermsgbottom{
    width:60%;
}

@media screen and(max-width:800px) {
    .userinfo{
        display: block;
        width:100%;
    }
    .userpic{
        width:30%;
        margin:0 auto;
    }
    .user{
        width:100%;
    }
    .username{
        text-align: center;
        margin-top: 10px;
    }
    .userphonetop,.useraddtop,.usermsgtop{
        img{
            margin-right: 15px;
        }
    }
}

@media screen and(max-width:576px) {
    .user{
        @include P1;
    }
    .username{
        @include H6;
    }
    .userphonetop,.useraddtop,.usermsgtop{
        img{
            margin-right: 10px;
        }
    }
}
@media screen and(max-width:376px) {
    .userphone,.useradd,.usermsg{
        display: block;       
    }
    .userphonetop,.useraddtop,.usermsgtop,
    .userphonebottom,.useraddbottom,.usermsgbottom{
        width:100%;
        margin-top: 5px;
    }
}
// 結帳金額
.finaltotal{
    width:75%;
    margin:0 auto;
}

.group_order_done_total_box{
    font-size: $fontsize_P1;
    letter-spacing: 2px;
  
    div{
      margin: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .group_order_done_dis{
    border-bottom: 1px solid rgb(173, 173, 173);
  }
  
  .group_order_done_finaltotal{
    font-size: $fontsize_H3;
    color: $textColor;
    font-weight: bold;
    border-top: 2px solid $textColor;
  }
  
  //RWD 字體改變大小
  
  @media(min-width:576px){
    .group_order_done_row{
      width: 50%;
    }
    .group_order_done_groupname{
      font-size: $fontsize_H3;
    }
    .group_order_done_info{
      font-size: $fontsize_H5;
    }
    .group_order_done_person_name,.group_order_done_person_total{
      font-size: $fontsize_H4;
    }
  
  }
  
  @media(min-width:768px){
    .group_order_done_row{
      width: 33.3%;
    }
    .group_order_done_person_drink,
    .group_order_done_total,
    .group_order_done_dis{
      font-size: $fontsize_H6;
    }
  }