@import "./base/base.scss";
@import "./mixins/mixins.scss";


// ====進度bar=====

// 尺寸、對齊方式
.step_box {
    width: 80%;
    height: 135px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 30px;

    .step_ball{
        display: flex;
        justify-content: space-between;
        position: relative;
    }

}

// 球尺寸、顏色、icon、字型
.step_box .step_ball >li{
    
    @include step_ball_size;
    border-radius: 50%;
    background-color: #EFE7DA;
    position: relative;

            // 定位進度球內img置中
            & img{
                position: absolute;
                transform: translate(50%,-50%);
                top: 50%;
                right: 50%;
            }

        // 定位下方步驟文字
            & h5{
                @include H5;
                color: $btnColor;
                letter-spacing: 0px;
                position: absolute;
                width: 100%;
                text-align: center;
                top: 120%;
            }
}




// 偽元素:進度條及變色方式

// .step_box .step_ball >li{

//     &:first-child{
//         background-color: $btnColor;
//     }

//     &::before{
//         content: "";
//         position: absolute;
//         width: 345%;
//         height: 5px;
//         background-color: #EFE7DA;
//         left: 50px;
//         top: 50%;
//         z-index: -1;
//     }


//     &:last-child::before{
//         display: none;
//     }

// }


// ====進度bar結束=====

//1.當前進度-步驟一

.step_box .step_ball li:first-child{
    font-weight: bold;
}

// 2.當前進度-步驟二

// .step_ball>li:nth-child(2){
//     background-color: $btnColor;
// }

// .step_ball>li:nth-child(1)::before{
//     background-color: $btnColor;
// }

// .step_box .step_ball li:nth-child(2){
//     font-weight: bold;
// }

// 3.當前進度-步驟三

// .step_ball>li:nth-child(2) , .step_ball>li:nth-child(3){
//     background-color: $btnColor;
// }

// .step_ball>li:nth-child(1)::before , .step_ball>li:nth-child(2)::before{
//     background-color: $btnColor;
// }

// .step_box .step_ball li:nth-child(3){
//     font-weight: bold;
// }

// 4.當前進度-步驟四

// .step_box .step_ball >li{
//     background-color: $btnColor;
// }

// .step_box .step_ball>li::before{
//     background-color: $btnColor;
// }

// .step_box .step_ball li:nth-child(4){
//     font-weight: bold;
// }



//  RWD


@media (min-width: 576px) and (max-width: 991px){

    .step_box{
        height: 115px;
    }

    .step_box .step_ball >li{
        @include step_ball_size_medium;
    }

    .step_box .step_ball >li>h5{
        @include H6;
        letter-spacing: 0px;
    }


}

@media (max-width: 575px){

    .step_box{
        height: 90px;
    }

    .step_box .step_ball >li{
        @include step_ball_size_small;
    }

    .step_box .step_ball >li>h5{
        @include P2;
        letter-spacing: 0px;
    }

    .step_box .step_ball >li>img{
        width: 40%;
    }

}













