@import "./base/base.scss";
@import "./mixins/font_size.scss";
@import "./base/color.scss";
@import "./mixins/button.scss";
$mq575: 575px;
$mq767: 767px;
$mq991: 991px;
$mq1199: 1199px;

body {
    box-sizing: border-box;
    // overflow-x: hidden;
    background: $insideBackgroundColor;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .vote-top {
        max-width: 1200px;
        text-align: center;
        color: $textColor;
        margin-top: 100px;
        margin-bottom: 50px;

        h2 {
            font-size: $fontsize_H2;
            font-weight: bold;
            margin-bottom: 15px;
        }

        h4 {
            font-size: $fontsize_H4;

            img {
                width: 25px;
                height: 25px;
                position: relative;
                top: 5px;
            }
        }

        @media screen and (max-width: $mq1199) {
            width: 100%;
            padding: 0 30px;
        }

        @media screen and (max-width: $mq991) {
            width: 100%;
            padding: 0 30px;
        }

        @media screen and (max-width: $mq575) {
            margin-top: 50px;
            margin-bottom: 50px;
            width: 100%;

            h2 {
                padding: 0 15px;
                margin-bottom: 15px;
            }

            h4 {
                line-height: 1.3;
                padding: 0 30px;
            }
        }
    }

    .vote-bot {
        color: $textColor;
        display: flex;
        justify-content: center;
        padding: 15px;

        @media screen and (max-width: $mq1199) {
            width: 100%;
        }

        @media screen and (max-width: $mq991) {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @media screen and (max-width: $mq575) {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .vote-wrap {
            margin-right: 30px;
            position: relative;

            &:nth-child(3) {
                margin-right: 0px;
            }

            .votes {
                display: inline-block;
            }

            .vote-title {
                font-size: $fontsize_H2;
                font-weight: bold;
                text-align: center;
                margin: 15px;
            }

            .vote-first {
                position: relative;
                width: 100%;
                border-radius: 20px;
                overflow: hidden;
                box-shadow: 3px 3px 8px 4px rgba($color: #000000, $alpha: 0.2);
                margin-bottom: 15px;

                .first-rank {
                    position: absolute;
                    top: 20px;
                    left: -35px;
                    color: #fff;
                    background-color: #ffa208;
                    width: 150px;
                    height: 20px;
                    font-size: 20px;
                    text-align: center;
                    line-height: 20px;
                    transform: rotate(-35deg);
                }

                .first-pic {
                    width: 100%;
                    height: 300px;
                    background-color: #aaa;
                }

                .first-txt {
                    text-align: center;
                    margin: 30px;

                    .first-title {
                        font-size: 32px;
                        font-weight: bold;
                        margin-bottom: 15px;
                    }

                    .first-votes {
                        font-size: $fontsize_H3;

                        img {
                            width: 25px;
                        }
                    }
                }
            }

            .vote-second {
                width: 100%;
                display: flex;

                .vote-second-item {
                    position: relative;
                    width: 50%;
                    border-radius: 20px;
                    overflow: hidden;
                    box-shadow: 3px 3px 8px 4px rgba($color: #000000, $alpha: 0.2);
                    margin: 15px;

                    &:first-child {
                        margin-left: 0px;
                    }

                    &:last-child {
                        margin-right: 0px;
                    }

                    &:first-child .second-rank {
                        background-color: #e48f2e;
                    }

                    &:last-child .second-rank {
                        background-color: #b3925b;
                    }

                    .second-rank {
                        position: absolute;
                        top: 20px;
                        left: -35px;
                        color: #fff;
                        background-color: #ffa208;
                        width: 150px;
                        height: 20px;
                        font-size: 20px;
                        text-align: center;
                        line-height: 20px;
                        transform: rotate(-35deg);
                    }

                    .second-pic {
                        background-color: #aaa;
                        width: 100%;
                        height: 200px;
                    }

                    .second-txt {
                        text-align: center;
                        margin: 15px;

                        .second-title {
                            font-size: $fontsize_H4;
                            font-weight: bold;
                            margin-bottom: 15px;
                        }

                        .second-votes {
                            font-size: $fontsize_H6;

                            img {
                                width: 20px;
                            }
                        }
                    }
                }
            }

            .vote-button {
                width: 100%;
                margin-top: 50px;
                text-align: center;
                display: flex;
                justify-content: center;

                button {
                    @include button_3;
                    background-color: #ffa208;
                    color: #fff;
                    font-size: $fontsize_H4;
                    padding: 5px 10px;
                    cursor: pointer;
                    transition: .5s ease-in-out;

                    &:focus {
                        outline: none;
                    }

                    &:hover {
                        background-color: #aaa;
                    }

                    img {
                        width: 25px;
                    }
                }
            }

            @media screen and (max-width: $mq1199) {
                width: 100%;
            }

            @media screen and (max-width: $mq991) {
                width: 720px;
                padding: 0 15px;

                &:nth-child(1),
                &:nth-child(2) {
                    margin-right: 0px;
                }
            }

            @media screen and (max-width: $mq767) {
                width: 540px;
                padding: 0 15px;
            }

            @media screen and (max-width: $mq575) {
                width: 100%;
                padding: 15px;
                margin-right: 0px;

                .vote-first {
                    margin-bottom: 15px;

                    .first-pic {
                        width: 100%;
                        height: 300px;
                        background-color: #aaa;
                    }

                    .first-txt {
                        .first-title {
                            margin-bottom: 15px;
                            font-size: 32px;
                        }

                        .first-votes {
                            img {
                                width: 30px;
                                position: relative;
                                top: 0;
                                right: 5px;
                            }
                        }
                    }
                }

                .vote-second {
                    width: 100%;
                    display: flex;

                    .vote-second-item {
                        width: 50%;
                        margin: 15px;

                        &:first-child {
                            margin-left: 0px;
                        }

                        &:last-child {
                            margin-right: 0px;
                        }

                        .second-pic {
                            background-color: #aaa;
                            width: 100%;
                            height: 200px;
                        }

                        .second-txt {
                            margin: 15px;

                            .second-title {
                                font-size: 1.6rem;
                                margin-bottom: 15px;
                            }

                            .second-votes {
                                img {
                                    width: 25px;
                                    position: relative;
                                    right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// 投票燈箱
.voteLightbox-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(204, 204, 204, 0.5);
    z-index: 100;

    .voting {
        position: relative;
        width: 350px;
        background-color: #fff;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 3px 3px 4px 2px rgba($color: #000000, $alpha: 0.2);

        @media screen and(max-width:$mq575) {
            width: 300px;
        }

        .vote-close {
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;

            img {
                width: 25px;
            }
        }

        .pic {
            width: 100%;
            height: 200px;
            background-color: #ccc;
        }

        .voting-txt {
            padding: 15px;

            .voting-title {
                h2 {
                    font-size: 32px;
                    font-weight: bold;
                    margin-bottom: 15px;
                }

                small {
                    font-size: $fontsize_H5;
                    color: #000;
                }

                @media screen and(max-width:$mq575) {
                    h2 {
                        font-size: 2rem;
                    }

                    small {
                        font-size: 1.6rem;
                    }
                }
            }

            .voting-btn {
                margin-top: 15px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .milkTea {
                    display: none;
                }

                label {
                    position: relative;
                    cursor: pointer;
                    width: 130px;
                    padding: 5px;
                    margin-bottom: 15px;
                    background-color: #ccc;
                    border-radius: 20px;
                    font-size: $fontsize_H6;
                    display: flex;
                    align-items: center;
                    color: #fff;
                    transition: 0.5s ease-in-out;

                    @media screen and(max-width:$mq575) {
                        width: 120px;
                        font-size: 1rem;
                    }

                    .radiobtn {
                        width: 25px;
                        height: 25px;
                        background-color: #fff;
                        border-radius: 50%;
                        margin-right: 5px;
                        transition: 0.5s ease-in-out;
                    }

                    small {
                        position: absolute;
                        top: 50%;
                        right: 3px;
                        transform: translateY(-50%);
                    }
                }
            }

            .vote-sub {
                text-align: center;

                button {
                    font-size: $fontsize_H6;
                    border-radius: 5px;
                    background-color: $textColor;
                    color: #fff;
                    border: none;
                    padding: 10px 20px;
                    transition: .3s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        background-color: #aaa;
                    }

                    &:focus {
                        border: none;
                        outline: none;
                    }
                }
            }

            input[type="radio"]:checked+label {
                background-color: $textColor;
                padding: 5px 10px;
                transition: 0.5s ease-in-out;

                .radiobtn {
                    transform: translateX(360%);
                }

                small {
                    right: 32px;
                }

                .btn-txt {
                    position: absolute;
                }

                @media screen and(max-width:$mq575) {
                    .radiobtn {
                        transform: translateX(320%);
                    }
                }
            }
        }
    }

    .voting-ok {
        display: none;
        text-align: center;
        padding: 15px;

        h2 {
            font-size: 32px;
            font-weight: bold;
            margin-top: 0px;
            margin-bottom: 15px;
        }

        p {
            font-size: 1.6rem;
            margin-bottom: 15px;
        }

        .vote-count {
            font-size: $fontsize_H3;
            margin-bottom: 15px;

            img {
                width: 30px;
            }
        }

        @media screen and(max-width:$mq575) {
            h2 {
                font-size: 2rem;
                font-weight: bold;
                // margin-top: 0px;
            }

            p {
                font-size: 1.6rem;
            }

            .vote-count {
                font-size: $fontsize_H3;
                margin-bottom: 0px;

                img {
                    width: 30px;
                }
            }
        }
    }
}