@mixin button_1{ // 繼續加購 
  font-size: 1.8rem;
  padding: 0.5rem;
  letter-spacing: 0.5rem;
  border-radius: 1rem;
}
@mixin button_2{ // 新稱一份飲品至訂單 
  font-size: 1.4rem;
  padding: 0.8rem;
  letter-spacing: 0.3rem;
  border-radius: 1rem;
}
@mixin button_3{ // 跟團去
  font-size: 1.8rem;
  padding: 0.5rem;
  letter-spacing: 1rem;
  border-radius: 2rem;
}
@mixin button_4{ // 購物車
  width: 15rem;
  font-size: 2.4rem; 
  letter-spacing: 1rem;
  border-radius: 50%;
}
