

// H系列
@mixin H1 {
  font-size: 4.5rem;
  letter-spacing: 1.5rem;
  font-family: 'Roboto', sans-serif;
}

@mixin H2 {
  font-size: 3.5rem;
  letter-spacing: 1.5rem;
  font-family: 'Roboto', sans-serif;
}

@mixin H3 {
  font-size: 2.4rem;
  letter-spacing: 1rem;
  font-family: 'Roboto', sans-serif;
}

@mixin H4 {
  font-size: 2.1rem;
  letter-spacing: 0.8rem;
  font-family: 'Roboto', sans-serif;
}

@mixin H5 {
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
  font-family: 'Roboto', sans-serif;
}

@mixin H6 {
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  font-family: 'Roboto', sans-serif;
}

// P系列

@mixin P1 {
  font-size: 1.4rem;
  letter-spacing: 0.3rem;
  font-family: 'Roboto', sans-serif;
}

@mixin P2 {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  font-family: 'Roboto', sans-serif;
}

@mixin P3 {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}