@import "../base/font_size.scss";
@import "../base/color.scss";
@import "../mixins/font_size.scss";

.lightbox-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(204, 204, 204, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 2;

    // display: none;

    .lightbox-wrap {
        border-radius: 20px;
        background-color: #e5e3dd;
        width: 400px;
        box-shadow: 3px 3px 5px 2px rgba($color: #000000, $alpha: 0.2);
        overflow: hidden;

        @media screen and (max-width: 575px) {
            width: 300px;
        }

        .lightbox-top {
            display: flex;
            position: relative;

            .close {
                position: absolute;
                top: 15px;
                right: 15px;
                cursor: pointer;

                i {
                    display: inline-block;
                    font-size: $fontsize_H3;
                    border-radius: 50%;
                    display: none;
                }

                .fas {
                    color: #e5e3dd;
                }

                .far {
                    color: $textColor;

                    display: none;
                }

                .closeBlock {
                    display: block;
                }
            }

            .tab {
                width: 50%;
                display: flex;
                justify-content: center;
                cursor: pointer;
                background-color: $textColor;

                .h3 {
                    @include H3;
                    color: #fff;
                    padding: 15px;
                }

                .textcolor {
                    color: $textColor;
                }
            }

            @media screen and (max-width: 575px) {

                .tab,
                .tab {
                    .h3 {
                        @include H4;
                    }
                }
            }

            .tabbackgroud {
                background-color: #e5e3dd;
            }
        }

        .lightbox-bot {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            position: relative;

            .sign-up {
                display: none;
                margin-top: 0px;

                label,
                input {
                    display: inline-block;
                    font-size: $fontsize_H5;
                    color: $textColor;
                }

                label {
                    width: 80px;
                    margin-bottom: 15px;
                }

                input {
                    width: 150px;
                    border-radius: 10px;
                    padding: 0 10px;

                    &:focus {
                        outline: none;
                    }
                }

                .name {
                    label {
                        margin-top: 20px;
                    }
                }
            }

            .login {
                justify-self: center;
                top: 50%;
                margin-top: 45px;
                display: none;

                label,
                input {
                    display: inline-block;
                    font-size: $fontsize_H5;
                    color: $textColor;
                }

                label {
                    width: 80px;
                    margin-bottom: 30px;
                    @include H4;
                }

                input {
                    width: 150px;
                    padding: 0px 10px;
                    border-radius: 10px;
                    font-size: 20px;

                    &:focus {
                        outline: none;
                    }
                }
            }

            .tabBodyNone {
                display: block;
            }

            .sure-cancel {
                width: 100%;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 15px;

                button {
                    margin: 0 15px;
                    padding: 5px 15px;
                    width: 80px;
                    border-radius: 10px;
                    font-size: $fontsize_H5;
                    border: none;
                    cursor: pointer;
                    transition: 0.2s ease-in-out;

                    &:focus {
                        outline: none;
                    }

                    &:first-child {
                        background-color: rgb(165, 165, 165);
                        color: #fff;

                        &:hover {
                            background-color: rgb(131, 131, 131);
                        }
                    }

                    &:last-child {
                        background-color: $btnColor;
                        color: #fff;

                        &:hover {
                            background-color: rgb(182, 116, 31);
                        }
                    }
                }
            }
        }

        .errorLogin,
        .signerror {
            color: red;
            font-size: $fontsize_H5;
        }
    }
}